<prs-panel-loading *ngIf="isLoading"></prs-panel-loading>

<div class="list-tour">
  <div class="title">
    <h2>رزرو ها</h2>
  </div>
  <div class="grid-7 gap-10">
    <a *ngIf="!getIsFilter()" class="btn-red w-100 h-45 flex-x-center fs-13 cursor-pointer" (click)="removeFilter()">
      <prs-icons class="icon-delete cursor-pointer" [width]="'25px'" [height]="'25px'" [name]="'delete'"
        [color]="'#fff'"></prs-icons>
      حذف فیلتر
    </a>
<!--    <prs-multiple-select class="w-100 input-filter" name="" id="" [data]="statuses" [(ngModel)]="filterObj.status">-->
<!--&lt;!&ndash;      <option value="all">همه</option>&ndash;&gt;-->
<!--&lt;!&ndash;      <option  *ngFor="let s of statuses" [value]="s.id">{{ s.name }}</option>&ndash;&gt;-->
<!--    </prs-multiple-select>-->
<div  class="w-100 input-filter1">
  <mat-form-field style="height: 100px ;width: 99%; position: absolute; top: 0px ; padding: 0 3px;" >
    <mat-label style="font-size: 14px">وضعیت</mat-label>
    <mat-select [(ngModel)]="selectedStatuses" [multiple]="true"  (selectionChange)="onStatusChange($event)">
      <mat-option  *ngFor="let s of statuses"  [value]="s.id" style="font-size: 13px; white-space: nowrap !important;" >{{s.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

    <input class="w-100 input-filter" type="text" placeholder="رفرنس" [(ngModel)]="filterObj.ref_code">
    <input class="w-100 input-filter" type="text" placeholder="کدملی" [(ngModel)]="filterObj.id_code">
    <input class="w-100 input-filter" type="text" placeholder="تاریخ" [(ngModel)]="filterObj.dateFa" (click)="openPicker()">
    <input class="w-100 input-filter" type="text" placeholder="شماره همراه" [(ngModel)]="filterObj.phone">
    <button class="btn-base w-100" (click)="getList()">فیلتر</button>
  </div>
  <div class="table-list-tour" *ngIf="list.length > 0">
    <div class="header-list-tour">
      <span class="id">#</span>
      <div class="d-flex flex-column">
        <span class="username">رزروگیرنده</span>
        <span class="username"  *ngIf="this.session.getRole()!=='provider_hotel'">مرجع</span>
      </div>
      <span class="view">نام هتل</span>
      <div class="d-flex flex-column">
        <span class="title-tour">تاریخ ورود</span>
        <span class="title-tour">تاریخ خروج</span>
      </div>
      <div class="d-flex flex-column">
        <span class="title-tour">ش.پ رفت</span>
        <span class="title-tour">ش.پ برگشت</span>
      </div>
      <div class="d-flex flex-column">
        <span class="title-tour">تاریخ رفت</span>
        <span class="title-tour">تاریخ برگشت</span>
      </div>
      <div class="d-flex flex-column">
        <span class="title-tour">مبدا</span>
        <span class="title-tour">مقصد</span>
      </div>


      <div class="d-flex flex-column">
        <span class="title-tour">شب</span>
        <span class="title-tour">مسافرین</span>
      </div>
      <div class="d-flex flex-column">
        <span class="title-tour">ایرلاین رفت</span>
        <span class="title-tour">ایرلاین برگشت</span>
      </div>
      <div class="d-flex flex-column">
        <span class="title-tour">تاریخ ایجاد</span>
        <span class="title-tour">وضعیت</span>
      </div>

      <div class="d-flex flex-column">
        <span class="title-tour">رفرنس</span>
        <span class="title-tour">مرجع</span>
      </div>
      <div class="d-flex flex-column">
        <span class="title-tour">قیمت</span>
        <span class="title-tour">زمان باقیمانده</span>
      </div>
      <span class="title-tour">تنظیمات</span>
    </div>
    <div *ngIf="isLoading">
      <div class="shimmer-6" *ngFor="let x of [1,2,3,4,5,6]">
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
      </div>
    </div>
    <div class="body-list-tour" *ngIf="list.length > 0">
      <div class="item bg-white" *ngFor="let item of list| paginate: paginateConfig ; let i = index">
        <span class="id">{{ item.id }}</span>
        <div class="d-flex flex-column">
          <span *ngIf="session.getRole()!=='تامین کننده هتل'" class="username">{{ item.information.reserver.phone }}</span>
          <span class="username" *ngIf="this.session.getRole()!=='provider_hotel'">{{ item.information.partner_name ?item.information.partner_name : 'ثبت نشده'}}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="username font-size-11">{{item.hotel.title}}</span>
          <span class="username font-size-11">{{item.hotel.titleEn}}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="username">{{item.hotel.checkin | convertDate}}</span>
          <span class="username">{{ item.hotel.checkout | convertDate }}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="username">{{item.flights.departure.flight_number}}</span>
          <span class="username">{{ item.flights.return.flight_number}}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="username">{{(item.flights.departure ? item.flights.departure.date : '') | convertDate}}</span>
          <span class="username">{{(item.flights?.return ? item.flights?.return.date : '') | convertDate}}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="username">{{ item.flights.departure ? item.flights.departure.origin_name : '---' }}</span>
          <span class="username">{{ item.flights.departure ? item.flights.departure.destination_name : '---' }}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="username">{{getNights(item) + ' ' + 'شب'}}</span>
          <span class="username">{{getPassengersCount(item) + ' نفر'}}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="username">{{ item.flights?.departure ?item.flights?.departure.airline_name : '---' }}</span>
          <span class="username">{{ item.flights?.departure ?item.flights?.return?.airline_name : '---'}}</span>

        </div>

        <div class="d-flex flex-column flex-y-center">
          <span class="username">{{item.information.created_at| convertDateTime}}</span>
          <span class="username">{{item.information.status.label}}</span>
<!--          <button class="w-30 reservedelete" *ngIf="item.information.status.id===473"  (click)="deleteReservation(item.information.id)">حذف</button>-->
        </div>
        <div class="d-flex flex-column">
          <span class="username">{{ item.information.ref_code }}</span>
          <span class="username">{{ item.information.ref_code_reserver ?item.ref_code_reserver: '---' }}</span>
        </div>
        <div class="d-flex flex-column">
          <span class="view">{{ item.prices.total_price | sperator }}</span>
          <prs-reserve-timer *ngIf="item.information.status.id !== 472 && item.information.status.id !== 473"
            [expired_date]="item.information.expired_in_minutes"></prs-reserve-timer>
        </div>
        <div class="button-setting">
          <a class="edit-btn fs-12" target="_blank" routerLink="/panel/reserves/{{ item.information.id }}">نمایش</a>
          <a class="edit-btn fs-11 text-center" target="_blank" (click)="openReportLogModal(item.information.id )">نمایش لاگ</a>

        </div>

      </div>
      <pagination-controls *ngIf="!isLoading && paginate.last_page > 1" class="pagination-control"
        (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی"
        screenReaderPaginationLabel="صفحه بندی" screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
      </pagination-controls>
    </div>
  </div>
  <div *ngIf="list.length===0" style="display: flex; justify-content: center">
    <p>موردی یافت نشد</p>
  </div>
</div>
