<div class="d-flex item-fly w-100" style="direction: rtl;">
    <div class="w-20 select-fly-city d-flex flex-column align-items-start">
      <label for="">انتخاب فرودگاه</label>
      <prs-select-search [airports]="data.airports"
      [inCommingAirport]="getAirportName(data.obj.airport_id)"
        (hotelSelected)="getAirportSelected($event)"></prs-select-search>
    </div>
    <div class="w-20 select-fly-city d-flex flex-column align-items-start">
      <label for="">انتخاب خدمت</label>
      <prs-select-search [airports]="data.tourServices"
      [inCommingAirport]="getServiceName(data.obj.category_id)"
        (hotelSelected)="getServiceSelected($event)"></prs-select-search>
    </div>
    <div class="d-flex w-25 flex-column">
      <label for="">نرخ ترانسفر</label>
      <input type="text" placeholder="نرخ ترانسفر" [(ngModel)]="price">
    </div>
    <div class="d-flex w-25 flex-column">
      <label for="">نوع ارز</label>
      <select class="w-100" name="" id="" [(ngModel)]="rate">
        <option disabled [value]="'all'">انتخاب کنید</option>
        <option [value]="'toman'">تومان</option>
        <option [value]="'dollar'">دلار</option>
        <option [value]="'derham'">درهم</option>
        <option [value]="'euro'">یورو</option>
      </select>
    </div>
    <button class="btn-base h-45 m-top-15 px-3" (click)="submit()">ویرایش</button>
  </div>