<div class="p-calender" style="font-family:'Roboto', sans-serif!important;direction: ltr;">
    <div class="d-flex p-loading align-items-center justify-content-center" *ngIf="isLoading">
        <div class="spinner-border" style="width: 100px; height: 100px;" role="status"></div>
    </div>
    <button class="next-month" (click)="changeMonth(-1)">
        <svg viewBox="0 0 32 32" width='30' height='30' xmlns="http://www.w3.org/2000/svg">
            <g data-name="Layer 2">
                <path
                    d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z" />
            </g>
        </svg>
    </button>
    <div class="box-calender">
        <div class="header-month">
            <h3 class="english-font">{{month[currentMonths[0] - 1] + ' ' + currentYears[0]}}</h3>
        </div>
        <div class="header-week">
            <span>S</span>
            <span>S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
        </div>
        <div class="body-calender">
            <ng-template ngFor let-item [ngForOf]="daysOfMonth" let-i="index">
                <div *ngIf="i < 42" (click)="item.isValid && !item.isDisabled ? onDateClicked(item) : null"
                    [class]="(item.isDisabled || !item.isValid) ? 'english-font item opacity3' : 'english-font item opacity2'"
                    [ngStyle]="{'color': item.isHoliday ? '#b51d20' : '',
                    'background': getColorItem(item)}" id="dateInfo">
                    {{moment(item.dateFa).isValid() ? (item.dateFa.split('/')[2]) : ''}}
                    <label class=" label-capacity english-font" *ngIf="item.data && item.data.available_room_count"> {{
                        item.data?.available_room_count }}</label>


                    <div class="p-icon-circle-extra" [matTooltip]="item.data?.extra_price+' : extra bed price : ' "
                        *ngIf="item.data && item.data?.extra_price">
                        <i class="icon-circle icon-circle-extra font-size-8"></i>
                    </div>

                    <div class="p-icon-circle" [matTooltip]="item.data.offer_price | sperator"
                        *ngIf="item.data && item.data.checkin_base">
                        <i class="icon-circle font-size-8"></i>
                    </div>
                    <small class="price-day english-font" *ngIf="!item.isDisabled && item.isValid">
                        {{getPriceLabel(item.data) }}
                    </small>
                </div>

            </ng-template>





        </div>
    </div>
    <div class="box-calender">
        <div class="header-month">
            <h3 class="english-font"> {{month[currentMonths[1] - 1] + ' ' +currentYears[1]}}</h3>
        </div>
        <div class="header-week">
            <span>S</span>
            <span>S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
        </div>
        <div class="body-calender">
            <ng-template ngFor let-item [ngForOf]="daysOfMonth" let-i="index">
                <div *ngIf="i > 41" (click)="item.isValid && !item.isDisabled ? onDateClicked(item) : null"
                    [class]="(item.isDisabled || !item.isValid) ? 'english-font item opacity3' : 'english-font item opacity2'"
                    [ngStyle]="{'color': item.isHoliday ? '#b51d20' : '',
                    'background': getColorItem(item)}" id="dateInfo">
                    {{moment(item.dateFa).isValid() ? (item.dateFa.split('/')[2]) : ''}}
                    <label class="english-font label-capacity" *ngIf="item.data && item.data.available_room_count"> {{
                        item.data?.available_room_count }}</label>

                        <div class="p-icon-circle-extra" [matTooltip]="item.data?.extra_price+' : extra bed price : ' "
                        *ngIf="item.data && item.data?.extra_price">
                        <i class="icon-circle icon-circle-extra font-size-8"></i>
                    </div>


                    <div class="p-icon-circle" [matTooltip]="item.data.offer_price | sperator"
                        *ngIf="item.data && item.data.checkin_base">
                        <i class="icon-circle font-size-8"></i>
                    </div>
                    <small class="english-font price-day" *ngIf="!item.isDisabled && item.isValid">
                        {{getPriceLabel(item.data) }}
                    </small>
                </div>



            </ng-template>
        </div>
    </div>


    <button class="prev-month " (click)="changeMonth(1)">
        <svg viewBox="0 0 32 32" width='30' height='30' xmlns="http://www.w3.org/2000/svg">
            <g data-name="Layer 2">
                <path
                    d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z" />
            </g>
        </svg>
    </button>

</div>