<div class="p-4 d-flex w-100 flex-wrap justify-content-between" style="direction: ltr;">
    <div class="w-100">
      <strong>{{ 'pricing' | translate }}</strong>

    </div>


    <div class="w-48 mt-4 d-flex flex-column align-items-start">
      <label for="">{{ 'NumberOfRoomsAvailable' | translate }}</label>
      <div class="inp-form mt-2  w-100">
        <input class="input" type="text" placeholder="{{ 'NumberOfRoomsAvailable' | translate }}" [formControl]="capacityFC">
      </div>
    </div>

    <div *ngIf="!data.isJustRoomCount"  class="w-48 mt-4 d-flex flex-column align-items-start">
      <label for="">{{ 'PricePerPersonInTheRoom'|translate }}{{ data.room.room_type_en  }} ({{ data.currency_code }})</label>
      <div class="inp-form mt-2 mt-2 w-100">
        <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="{{ 'EnterPrice' |translate }}"
          [formControl]="priceFC">
      </div>
    </div>

    <div class="w-48 mt-4 d-flex flex-column align-items-start">
      <label for="">{{'childWithBed'|translate}}</label>
      <div class="inp-form mt-2 w-100">
        <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="{{ 'childWithBed' | translate }}"
          [formControl]="chd_w_priceFC">
      </div>
    </div> 

    <!-- <div class="w-48 mt-4 d-flex flex-column align-items-start">
      <label for="">تعداد تخت اضافه</label>
      <div class="inp-form mt-2 w-100">
        <input class="input" type="text" readonly placeholder="تعداد تخت اضافه" [formControl]="bedCountFC">
      </div>
    </div> -->

<!--    <div class="w-48 mt-4 d-flex flex-column align-items-start" >-->
<!--      <label for="">child with bed price</label>-->
<!--      <div class="inp-form mt-2 w-100">-->
<!--        <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="child with bed price"-->
<!--          [formControl]="chd_priceFC">-->
<!--      </div>-->
<!--    </div>-->

    <div class="w-48 mt-4 d-flex flex-column align-items-start" *ngIf="!data.isJustRoomCount" >
      <label for="">{{'extraBedPrice'|translate}}</label>
      <div class="inp-form mt-2 w-100">
        <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="{{ 'extraBedPrice' | translate }}"
          [formControl]="bedPriceFC">
      </div>
    </div>
    <div class="w-48 mt-4 d-flex flex-column align-items-start" *ngIf="!data.isJustRoomCount" >
      <label for="">{{'checkinBase'|translate}} ?</label>
      <mat-checkbox [(ngModel)]="checkin_base"></mat-checkbox>
      </div>

  <div class="d-flex flex-column" *ngIf="!data.isJustRoomCount" >
    <label for="">{{ 'notCheckinBase'|translate }}</label>
    <mat-checkbox [(ngModel)]="not_checkin_base"></mat-checkbox>
  </div>
    <!-- <div class="w-48 mt-4 d-flex flex-column align-items-start" *ngIf="checkin_base && !data.isJustRoomCount">
      <label for="">c{{'checkinBasePrice'|translate}}</label>
      <div class="inp-form mt-2 w-100">
        <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="{{ 'checkinBasePrice' |translate }}"
          [formControl]="offerPriceFC">
      </div>
    </div> -->
    <!-- <div class="w-48 mt-4 d-flex flex-column align-items-start">
      <label for="">قیمت تخفیف خورده تخت اضافه</label>
      <div class="inp-form mt-2 w-100">
        <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت تخفیف خورده تخت اضافه"
          [formControl]="offerBedPriceFC">
      </div>
    </div> -->


    <!-- <div class="d-flex mt-3 w-75 mx-auto align-items-center justify-content-evenly">
      <span>نرخ ارز</span>
      <div class="inp-form w-25">
        <select class="w-100" name="" id="" [formControl]="rateFC">
          <option disabled [value]="'all'">انتخاب کنید</option>
          <option [value]="'toman'">تومان</option>
          <option [value]="'dollar'">دلار</option>
          <option [value]="'derham'">درهم</option>
          <option [value]="'euro'">یورو</option>
        </select>
      </div>
    </div> -->

    <div class="d-flex justify-content-between mx-auto align-items-center w-50 mt-5">
      <button class="btn-base btn w-48 h-45" (click)="submit()">
        <span class="spinner-border spinner-border-sm" *ngIf="submitLoading"></span>

        {{ 'ثبت' | translate }}</button>
      <button class="btn bg-danger text-white w-48 h-45" (click)="dialogRef.close(false)">Cancel</button>
    </div>

  </div>
