
  <div class="list-tour">
    <div class="title">
      <h2>لیست مقام ها</h2>
  
      <a class="btn-add-tour bg-success text-white" routerLink="/panel/roles/add">اضافه</a>
      <a class="btn-add-tour bg-danger text-white mx-2" routerLink="/panel/users">بازگشت</a>
  
    </div>
    <div class="table-list-tour">
      <div class="header-list-tour">
        <span class="username">شناسه</span>
        <span class="view">نام</span>
        <span class="title-tour">برچسب</span>
        <span class="setting">تنظیمات</span>
      </div>
      <div *ngIf="isLoading">
        <div class="shimmer-6" *ngFor="let x of [1,2,3,4,5,6]">
          <div class="item-shimmer"></div>
          <div class="item-shimmer"></div>
          <div class="item-shimmer"></div>
          <div class="item-shimmer"></div>
          <div class="item-shimmer"></div>
          <div class="item-shimmer"></div>
        </div>
      </div>
      <div class="body-list-tour" *ngIf="roles.length > 0">
        <div class="item bg-white"  *ngFor="let role of roles| paginate: paginateConfig;let i = index">
          <span class="title-tour">{{ role.id }}</span>
          <span class="title-tour">{{ role.name }}</span>
          <span class="title-tour">{{ role.label }}</span>
  
          <div class="button-setting">
            <a class="delete-btn m-left-10" *ngIf="role.name !== 'admin'" (click)="deleteClicked(role.id)">حذف</a>
            <a routerLink="/panel/roles/edit/{{ role.id }}"  class="edit-btn">ویرایش</a>
          </div>
        </div>
        <pagination-controls *ngIf="!isLoading && paginate.last_page > 1" class="pagination-control"
          (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی"
          screenReaderPaginationLabel="صفحه بندی" screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
        </pagination-controls>
      </div>
    </div>
  </div>