<div class="add-tour" *ngIf="showData">
    <form class="w-100" [formGroup]="form">
      <div class="box-info-fly">
  
        <div class="info-tour-header">
          <div class="right">
            <h2 class="text-dark">اطلاعات پرواز</h2>
          </div>
        </div>
  
        <div class="info-tour-body">
          <div class="top">
            <div class="item-info-2 w-48">
              <div class="select-info">
                <label for="">فرودگاه مبدا</label>
                <prs-select-city [title]="'فرودگاه خود را انتخاب کنید'" [hasHotel]="true" [inCommingCity]="infoData.origin_id"
                  [cities]="editData.airports" (citySelected)="getStCity($event)">
                </prs-select-city>
                <div *ngIf="errorService.hasError('origin_id')">
                  <span class="text-danger">{{errorService.getError('origin_id')}}</span>
                </div>
              </div>
  
            </div>
  
            <div style="padding-right: 2rem" class="item-info w-48">
              <div class="select-info">
                <label for="">فرودگاه مقصد</label>
                <prs-select-city [title]="'فرودگاه خود را انتخاب کنید'" [hasHotel]="true" [inCommingCity]="infoData.destination_id"
                  [cities]="editData.airports" (citySelected)="getEndCity($event)"></prs-select-city>
                <div *ngIf="errorService.hasError('destination_id')">
                  <span class="text-danger">{{errorService.getError('destination_id')}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="top">
            <div class="w-45 mt-3 d-flex align-items-center item-bg justify-content-between px-3">
              <div class="d-flex align-items-center">
                <mat-label>چکین فردا</mat-label>
                <mat-checkbox [(ngModel)]="checkin_tomorrow" [ngModelOptions]="{standalone: true}"></mat-checkbox>
              </div>
  
              <div class="item-info-timer w-45">
                <label for="">ساعت پرواز رفت</label>
                <prs-time-picker [inCommingTime]="infoData.origin_time"
                  (result)="getOriginTime($event)"></prs-time-picker>
              </div>
            </div>
            <div class="w-45 mt-3 d-flex align-items-center item-bg justify-content-between px-3">
              <div class="d-flex align-items-center">
                <mat-label>چک اوت دیروز</mat-label>
                <mat-checkbox [(ngModel)]="checkout_yesterday" [ngModelOptions]="{standalone: true}">
                  </mat-checkbox>
              </div>
              <div class="item-info-timer w-45">
                <label for="">ساعت پرواز برگشت</label>
                <!--              <ngb-timepicker  formControlName="originTimeFC" [meridian]="false"></ngb-timepicker>-->
                <prs-time-picker [inCommingTime]="infoData.destination_time"
                  (result)="getDestTime($event)"></prs-time-picker>
              </div>
            </div>
            <div class="w-45 d-flex align-items-center  justify-content-between">
              <div class="item-info-2 w-48">
                <div class="select-info w-100">
                  <label for="">ایرلاین رفت</label>
                  <select formControlName="origin_airline_id">
                    <option *ngFor="let item of (editData.airlines ?? [])" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
                <div *ngIf="errorService.hasError('origin_airline_id')">
                  <span class="text-danger">{{errorService.getError('origin_airline_id')}}</span>
                </div>
              </div>
              <div class="item-info w-48">
                <div class="select-info w-100">
                  <label for="">شماره پرواز رفت</label>
                  <input type="text" formControlName="origin_flight_number">
                </div>
                <div *ngIf="errorService.hasError('origin_flight_number')">
                  <span class="text-danger">{{errorService.getError('origin_flight_number')}}</span>
                </div>
              </div>
            </div>
            <div class="w-45 d-flex align-items-center  justify-content-between">
              <div class="item-info w-48">
                <div class="select-info w-100">
                  <label for="">ایرلاین برگشت</label>
                  <select formControlName="destination_airline_id">
                    <option *ngFor="let item of (editData.airlines ?? [])" [value]="item.id">{{item.name}}</option>
                  </select>
                </div>
                <div *ngIf="errorService.hasError('destination_airline_id')">
                  <span class="text-danger">{{errorService.getError('destination_airline_id')}}</span>
                </div>
              </div>
              <div class="item-info w-48">
                <div class="select-info w-100">
                  <label for="">شماره پرواز برگشت</label>
                  <input type="text" formControlName="destination_flight_number">
                </div>
                <div *ngIf="errorService.hasError('destination_flight_number')">
                  <span class="text-danger">{{errorService.getError('destination_flight_number')}}</span>
                </div>
              </div>
            </div>
  
  
          </div>

          <div class="top">
            <div class="address-hotel">
              <label for="address">شهر های موردنظر را انتخاب کنید</label>
              <mat-form-field appearance="fill">
                <mat-label>شهر ها</mat-label>
                <mat-select [formControl]="selectedCityFC" multiple>
                  <mat-select-trigger>
                    <span>شهر های انتخاب شده</span>
  
                  </mat-select-trigger>
                  <mat-option *ngFor="let city of editData.cities" [value]="city.id">{{city.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <span class="city-box" *ngFor="let city of selectedCityFC.value">
                  {{ getCityName(+city) }}
                </span>
              </div>
            </div>
          </div>
  
        </div>
  
  
      </div>
  
      <div class="box-info-fly">
  
  
        <div class="box-info-package">
          <div class="info-tour-header">
            <div class="right">
              <h2>لیست تاریخ های قابل ارائه</h2>
            </div>
            <div class="package-item">
              <a (click)="addRow()" class="btn-add-tour-fix">
                <i class="icon-plus-squared-alt"></i>
                <span>اضافه</span>
              </a>
            </div>
          </div>
          <div class="info-tour-body p-0">
            <div class="w-100 d-flex flex-column mobile-package">
              <ng-container *ngFor="let rate of RatesForm.controls; let i = index" formArrayName="rates">
                <form class="parent-package" [formGroupName]="i">
                  <div class="item-package">
                    <div class="package-item">
                    </div>
                    <div class="item-info-2 p-item-custom">
                      <div class="select-info">
                        <label style="position: relative;top: 17px" for="">تاریخ رفت</label>
                        <mat-form-field appearance="fill">
                          <input
                            [ngClass]="{'input-parent': (!getIsTouched(rate,'origin_date')),'input-parent-error': (getError(rate,'origin_date'))}"
                            matInput [matDatepicker]="picker6" autocomplete="off" formControlName="origin_date"
                            [min]="minDate" (click)="picker6.open()">
                          <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="select-info">
                        <label style="position: relative;top: 17px" for="">تاریخ برگشت</label>
                        <mat-form-field appearance="fill">
                          <input
                            [ngClass]="{'input-parent': (!getIsTouched(rate,'destination_date')),'input-parent-error': (getError(rate,'destination_date'))}"
                            matInput [matDatepicker]="picker7" autocomplete="off" formControlName="destination_date"
                            [min]="minDate" (click)="picker7.open()">
                          <mat-datepicker #picker7></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="select-info">
                        <label for="">نرخ بزرگسال (تومان)</label>
                        <input
                          [ngClass]="{'input-parent': (!getIsTouched(rate,'adl_price')),'input-parent-error': (getError(rate,'adl_price'))}"
                          type="text" placeholder="قیمت بزرگسال" formControlName="adl_price">
                      </div>
                      <div class="select-info">
                        <label for="">نرخ کودک (تومان)</label>
                        <input
                          [ngClass]="{'input-parent': (!getIsTouched(rate,'chd_price')),'input-parent-error': (getError(rate,'chd_price'))}"
                          type="text" placeholder="قیمت کودک" formControlName="chd_price">
                      </div>
                      <div class="select-info">
                        <label for="">نرخ نوزاد (تومان)</label>
                        <input
                          [ngClass]="{'input-parent': (!getIsTouched(rate,'inf_price')),'input-parent-error': (getError(rate,'inf_price'))}"
                          type="text" placeholder="قیمت نوزاد" formControlName="inf_price">
                      </div>
                      <div class="select-info">
                        <label for="">موجودی</label>
                        <input
                          [ngClass]="{'input-parent': (!getIsTouched(rate,'capacity')),'input-parent-error': (getError(rate,'capacity'))}"
                          type="text" placeholder="ظرفیت" formControlName="capacity">
                      </div>
                      <button style="margin-top: 1.8rem" class="btn  w-100 btn-danger text-white" *ngIf="i > 0"
                        (click)="removeDates(i)">
                        حذف
                      </button>
                    </div>
                  </div>
                </form>
              </ng-container>
  
  
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button class="btn-base" (click)="createRequest()" style="width: 10%; margin: 5px">ثبت</button>
      </div>
    </form>
  </div>