<!-- <input type="text" [formControl]="dateFC" > -->
<div class="item-inp-special-date" (click)="openBottomSheet()">
    <label>{{ name }}</label>
    <div class="date">
      <button class="day" >
        <span>{{ dateFC.value ? dateFC.value.split('/')[2] : 'روز' }}</span>
        <!-- <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0L5 5L10 0H0Z" fill="#040A1F" fill-opacity="0.6"/>
        </svg> -->
      </button>
      <div class="border-date"></div>
      <button class="month">
        <span>{{ dateFC.value ? dateFC.value.split('/')[1] : 'ماه' }}</span>
        <!-- <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0L5 5L10 0H0Z" fill="#040A1F" fill-opacity="0.6"/>
        </svg> -->
      </button>
      <div class="border-date"></div>
      <button class="year">
        <span>{{ dateFC.value ? dateFC.value.split('/')[0] : 'سال' }}</span>
        <!-- <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0L5 5L10 0H0Z" fill="#040A1F" fill-opacity="0.6"/>
        </svg> -->
      </button>
    </div>
    <!-- <ng-container *ngIf="getError(i, 'birthDate')">
      <span class="text-error text-danger">تاریخ تولد الزامی است</span>
    </ng-container> -->
</div>
