<div class="row-search">
    <div class="inp-form">
    <prs-select-city class="w-100" [cities]="originCities" [baseType]="false" [title]="'شهر مبدا'" [inCommingCity]="inCommingSearchObject?.origin"
      (citySelected)="originSelected($event)" ></prs-select-city>
    </div>
  <div class="inp-form">
    <prs-select-city class="w-100" [cities]="destinationCities" [baseType]="true" [title]="'شهر مقصد'" [inCommingCity]="inCommingSearchObject?.dest"
    (citySelected)="destSelected($event)"></prs-select-city>
  </div>
    <div class="inp-form">
        <input class="w-100" type="text" [formControl]="stDateFC" placeholder="تاریخ خود را انتخاب کنید" (click)="openPicker()">
        <mat-spinner diameter="20" *ngIf="getDatesLoading">
        </mat-spinner>
    </div>

    <div class="inp-form">
      <select [formControl]="nightFC" class="w-100" name="">
        <option [value]="0">تعداد شب</option>
          <option *ngFor="let x of nights" [value]="x">
            {{x}}
          <span style="margin-right: 4px">شب</span>
        </option>
      </select>
    </div>
    <button class="btn-search btn-base font-16" (click)="search()">جست و جو</button>
  </div>
