<div class="row-search">
    <div class="inp-form">
    <prs-select-city class="w-100" [cities]="cities" [baseType]="false" [title]="'شهر مبدا'" [inCommingCity]="destFC.value"
      (citySelected)="originSelected($event)" ></prs-select-city>
    </div>
  <div class="inp-form">
    <prs-select-city class="w-100" [cities]="cities" [baseType]="true" [title]="'شهر مقصد'" [inCommingCity]="destFC.value"
    (citySelected)="destSelected($event)"></prs-select-city>
  </div>
    <div class="inp-form">
        <input class="w-100" type="text" [formControl]="stDateFC" placeholder="تاریخ خود را انتخاب کنید" (click)="openPicker()">
    </div>

    <div class="inp-form">
      <select [formControl]="nightFC" class="w-100" name="">
        <option value="null">تعداد شب</option>
        <!-- <option *ngFor="let x of nights" [value]="x">{{x}} -->
          <option [value]="1">1 شب</option>
          <option [value]="2">2 شب</option>
          <option [value]="3">3 شب</option>
          <option [value]="4">4 شب</option>
          <option [value]="5">5 شب</option>
          <option [value]="6">6 شب</option>
          <option [value]="7">7 شب</option>
          <option [value]="8">8 شب</option>
          <option [value]="9">9 شب</option>
        <!-- <span style="margin-right: 4px">شب</span> -->
        <!-- </option> -->
      </select>
    </div>
    <button class="btn-search btn-base font-16">جست و جو</button>
  </div>
