<div class="row-search">
    <div class="inp-form">
    <prs-select-city class="w-100" [cities]="searchData" [baseType]="false" [title]="'شهر مبدا'" [inCommingCity]="inCommingSearchObject?.origin"
      (citySelected)="originSelected($event)" ></prs-select-city>
    </div>
  <div class="inp-form">
    <prs-select-city class="w-100" [cities]="destinations" [baseType]="true" [title]="'شهر مقصد'" [inCommingCity]="inCommingSearchObject?.dest"
    (citySelected)="destinationSelected($event)"></prs-select-city>
  </div>
    <div class="inp-form">
        <input class="w-100" type="text" readonly [formControl]="stDateFC" placeholder="تاریخ خود را انتخاب کنید" (click)="openPicker()">

    </div>

    <div class="inp-form">
      <select [formControl]="nightFC" class="w-100" name="">
        <option [value]="0">تعداد شب</option>
          <option *ngFor="let x of nights" [value]="x">
            {{x}}
          <span style="margin-right: 4px">شب</span>
        </option>
      </select>
    </div>
    <button class="btn-search btn-base font-16" (click)="search()">جست و جو</button>
  </div>
