<section class="s-panel" style="background: #f2f2f2">
  <div class="p-panel">
    <div class="panel">
      <button *ngIf="isDesktop" class="toggle-sidebar-open">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="8.414" height="14.828" viewBox="0 0 8.414 14.828">
            <path id="Right_Arrow_1" data-name="Right Arrow 1" d="M1,1,7,7,1,13" transform="translate(0.414 0.414)"
              fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          </svg>
        </span>
      </button>

      <div *ngIf="isDesktop" class="p-sidebar">
        <prs-sidebar></prs-sidebar>
      </div>
      <div *ngIf="isSidebarMobi" class="p-sidebar">
        <prs-sidebar></prs-sidebar>
      </div>
      <main class="main">
        <header class="header-panel">
          <div class="search">
            <svg id="Search..." xmlns="http://www.w3.org/2000/svg" width="24.371" height="24.371"
              viewBox="0 0 24.371 24.371">
              <path id="Path_1136" data-name="Path 1136"
                d="M1,11.478c0,4.37.783,6.88,2.3,8.345s4.047,2.133,8.175,2.133,6.647-.659,8.175-2.133,2.3-3.975,2.3-8.345-.783-6.88-2.3-8.345S15.606,1,11.478,1,4.831,1.659,3.3,3.133,1,7.108,1,11.478Z"
                fill="none" stroke="#646464" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <path id="Path_1137" data-name="Path 1137" d="M22.956,22.956l-2.609-2.609" fill="none" stroke="#646464"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
            </svg>
            <input type="text" placeholder="جستجو کنید....">
          </div>
          <div class="option-header">
            <button *ngIf="isDesktop"  (click)="darkMode()" class="dark-mode">
              <svg *ngIf="!isDarkMode" id="Moon_2" data-name="Moon 2" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24.998" viewBox="0 0 24 24.998">
                <path id="Path_514" data-name="Path 514"
                  d="M10.8,1.6A1,1,0,0,0,9.789.023,12.72,12.72,0,0,0,0,12.488,12.509,12.509,0,0,0,12.509,25a12.263,12.263,0,0,0,11.413-7.612A1,1,0,0,0,22.558,16.1,8.85,8.85,0,0,1,18.5,17,9.5,9.5,0,0,1,9,7.5,10.13,10.13,0,0,1,10.8,1.6ZM2,12.488A10.876,10.876,0,0,1,7.88,2.8,12.928,12.928,0,0,0,7,7.5,11.5,11.5,0,0,0,18.5,19a11.975,11.975,0,0,0,2.363-.223A10.219,10.219,0,0,1,12.509,23,10.509,10.509,0,0,1,2,12.488Z"
                  fill="#646464" fill-rule="evenodd" />
              </svg>
              <svg *ngIf="isDarkMode" id="Sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 28 28">
                <path id="Path_1144" data-name="Path 1144"
                  d="M7,14.011c-.032,2.944.46,4.583,1.408,5.532S11.019,21,14,21s4.621-.5,5.565-1.455S21,16.951,21,14s-.49-4.594-1.435-5.545S16.98,7,14,7s-4.6.5-5.538,1.452S7.032,11.053,7,14.011Z"
                  fill="none" stroke="#212135" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                <path id="Path_1145" data-name="Path 1145" d="M15,1a1,1,0,0,0-2,0ZM13,3a1,1,0,0,0,2,0Zm0-2V3h2V1Z"
                  fill="#212135" />
                <path id="Path_1146" data-name="Path 1146" d="M15,25a1,1,0,0,0-2,0Zm-2,2a1,1,0,0,0,2,0Zm0-2v2h2V25Z"
                  fill="#212135" />
                <path id="Path_1147" data-name="Path 1147" d="M27,15a1,1,0,0,0,0-2Zm-2-2a1,1,0,0,0,0,2Zm2,0H25v2h2Z"
                  fill="#212135" />
                <path id="Path_1148" data-name="Path 1148" d="M3,15a1,1,0,0,0,0-2ZM1,13a1,1,0,0,0,0,2Zm2,0H1v2H3Z"
                  fill="#212135" />
                <path id="Path_1149" data-name="Path 1149"
                  d="M4.707,3.293A1,1,0,0,0,3.293,4.707Zm0,2.828A1,1,0,0,0,6.121,4.707ZM3.293,4.707,4.707,6.121,6.121,4.707,4.707,3.293Z"
                  fill="#212135" />
                <path id="Path_1150" data-name="Path 1150"
                  d="M4.707,25.121a1,1,0,1,1-1.414-1.414Zm0-2.829a1,1,0,0,1,1.414,1.414ZM3.293,23.707l1.414-1.414,1.414,1.414L4.707,25.121Z"
                  fill="#212135" />
                <path id="Path_1151" data-name="Path 1151"
                  d="M23.707,3.293a1,1,0,1,1,1.414,1.414Zm0,2.828a1,1,0,0,1-1.414-1.414Zm1.414-1.414L23.707,6.121,22.293,4.707l1.414-1.414Z"
                  fill="#212135" />
                <path id="Path_1152" data-name="Path 1152"
                  d="M23.707,25.121a1,1,0,0,0,1.414-1.414Zm0-2.829a1,1,0,0,0-1.414,1.414Zm1.414,1.414-1.414-1.414-1.414,1.414,1.414,1.414Z"
                  fill="#212135" />
              </svg>

            </button>
            <button *ngIf="isDesktop" class="notification">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="22.011" viewBox="0 0 25 22.011">
                <g id="Megaphone" transform="translate(0 0.005)">
                  <path id="Path_1020" data-name="Path 1020"
                    d="M5.088,13.549a4.078,4.078,0,1,1,0-8.156H6.437M5.088,13.549S6.5,18.44,7,19.934a1.536,1.536,0,0,0,3-.5V13.809m-4.912-.26H6.437m3.563.26c2.848.649,5.487,2.377,8.026,3.644C23.114,19.99,23,11.942,23,9.471s.114-10.52-4.974-7.982c-3.185,1.588-6.526,3.9-10.24,3.9H6.437M10,13.809a9.939,9.939,0,0,0-2.214-.26H6.437m0,0V5.393"
                    fill="none" stroke="#646464" stroke-width="2" />
                  <path id="Path_1021" data-name="Path 1021" d="M24,7v5" fill="none" stroke="#646464"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </g>
              </svg>
              <span class="badge">5</span>
            </button>
            <div class="d-flex flex-column align-items-center justify-content-center">
              <div class="avatar">
                <img src="../../../assets/img/user.png" alt="">
                <i class="icon-circle text-warning"></i>
              </div>
              <small>{{ session.getName() ?? '' }}</small>
            </div>
            <a *ngIf="isTablet" (click)="sidebarMobi()"  class="btn-menu-sidebar"><i class="icon-menu text-dark f-18"></i></a>
          </div>

        </header>
        <div class="body-panel">
          <router-outlet></router-outlet>

        </div>
      </main>
    </div>
  </div>
</section>



