<!-- <section class="panel-satrap">
  <div class="sidebar">
    <prs-sidebar></prs-sidebar>
  </div>

  <div class="main-page">
    <div class="responsive-right">
      <prs-header></prs-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</section> -->

<!-- <livewire:admin.section.sidebar-mobile-panel /> -->
<article class="article-controller">
    <section class="s-container">
        <div class="container-fluid">
            <!-- {{-- parent data --}} -->
            <div class="p-container d-flex p-0">
                <!-- {{-- right --}} -->
                <prs-sidebar></prs-sidebar>
                <!-- {{-- left --}} -->
                <div class="left flex-79 m-right-auto m-mb-37">
                    <!-- {{-- row data --}} -->
                    <prs-header></prs-header>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
</article>
<!-- {{-- setting panel --}} -->
<!-- <livewire:admin.section.setting-panel /> -->

