@import "src/assets/css/varible";

.p-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  background: $light-color;
  min-height: 800px;

  .panel {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;

    .p-sidebar {
      width: 19%;
      position: fixed;
      top: 7px;
      height: 100vh;
      z-index: 10;
    }

    .main {
      width: 80%;
      display: flex;
      flex-direction: column;
      position: relative;
      right: 19.8%;
      padding: 0 1rem;
      transition: 0.5s all !important;

      .header-panel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        height: 80px;
        background: $white-color;
        border-radius: 10px;
        margin-bottom: 2rem;

        .search {
          display: flex;
          align-items: center;
          width: 60%;

          input {
            border: none;
            outline: none;
            font-size: 14px;
            color: $gray-color;
            margin-right: 12px;
            width: 90%;

            &::placeholder {
              color: #bda6a6;
            }
          }
        }

        .option-header {
          display: flex;
          align-items: center;

          .dark-mode {
            outline: none;
            border: none;
            background: unset;
          }

          .notification {
            outline: none;
            border: none;
            background: unset;
            position: relative;
            margin: 0 20px;

            span {
              position: absolute;
              right: -8px;
              top: -8px;
              background: #ff0000;
              border-radius: 50%;
              width: 20px;
              height: 18px;
              display: grid;
              place-items: center;
              color: $white-color;
            }
          }

          .avatar {
            position: relative;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }

            i {
              position: absolute;
              bottom: -1px;
              right: -1px;
              font-size: 11px;
              animation: icon 1.5s forwards infinite;
              @keyframes icon {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .body-panel {
        width: 100%;
        height: auto;
      }
    }
  }
}

.main-full {
  width: 100% !important;
  padding: 0 3rem !important;
  right: 0 !important;
}

.toggle-sidebar-open {
  border: none;
  outline: none;
  background: $white-color;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 9px;
  position: absolute;
  right: 13px;
  top: 30px;
  z-index: 3;
  cursor: pointer;

  svg {
    transform: rotate(180deg);
  }

  span {
    width: 34px;
    height: 34px;
    background: #6a6cf6;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
}

input {
  background: $white-color !important;
}

:host::ng-deep .dark-mode-panel {
  svg {
    path {
      stroke: $text-color-dark !important;
    }
  }

  .p-panel {
    background: $base-color-two-dark !important;
  }

  .sidebar {
    background: $base-color-dark !important;
  }

  .header-panel {
    background: $base-color-dark !important;

    input {
      background: unset !important;
      border: none !important;
    }
  }

  input, select, textarea {
    background: $base-color-dark !important;
    border: 1px solid $border-color-dark !important;
  }

  .dropzone {
    background: $base-color-dark !important;
  }

  a, span, p, h1, h2, h3, h4, h5, h6, label {
    color: $text-color-dark !important;
  }

  .info-tour-header {
    background: rgba(149, 150, 245, 0.2) !important;

    select {
      border: 1px dashed $border-color-dark !important;
      color: $white-color !important;
      padding: 4px !important;
      position: relative;
      top: -6px !important;
    }
  }

  .info-tour-body {
    border: 1px dashed $border-color-dark !important;
    border-top: none !important;
  }

  .toggle-sidebar, .toggle-sidebar-open {
    background: $base-color-dark !important;
  }

  .header-list-tour {
    background: $base-color-dark !important;
  }

  .mat-mdc-text-field-wrapper {
    background: #1d1e65 !important;

    input {
      background: unset !important;
      color: $text-color-dark !important;
    }
  }

  .item-menu-collapse ,.item-menu {
    &:hover {
      background: $base-color-two-dark !important;

      a {
        color: $text-color-dark;
      }
    }
    .card-body{
      background: $base-color-three;
      margin-top: 12px !important;
      color: $text-color-dark !important;
    }
  }
  .btn-base{
    background: unset !important;
    color: $white-color !important;
    border-radius: 4px !important;
  }

}
:host::ng-deep .card-body{
  background: $base-color-three !important;
  margin-top: 12px !important;
  color: $white-color !important;
}

::-webkit-scrollbar-track {
 display: none !important;
}

::-webkit-scrollbar-thumb {
  display: none !important;
}

::-webkit-scrollbar {
  display: none !important;
}
