<prs-loading *ngIf="isLoading"></prs-loading>
<div class="prs-responsive">
  <div class="col-md-11 mx-auto px-mobi pb-5">
    <div class="box-fix-user-reservation animated fadeInUp">
      <div class="detail-box-fix-user-reservation">
        <div class="p-detail-reservation col-md-11 mx-auto">
          <div class="p-price d-flex align-items-center">
            <span>مبلغ قابل پرداخت:</span>
            <div class="price d-flex align-items-center">
              <strong>{{ totalPrice |sperator}}</strong>
              <small>تومان</small>
            </div>
          </div>
          <div class="count-p">
            <div class="total">
              <span>تعداد کل(نفرات) : {{ getPassengersCount() + 'نفر' }}</span>
            </div>
            <div class="room">
              <span>تعداد اتاق انتخابی : {{ getRoomCount() }}</span>
            </div>
          </div>
          <button class="btn-base btn-box-fix" (click)="checkAuth()">پرداخت آنلاین</button>
          <!-- <button class="btn-base btn-box-fix">رزرو</button> -->
        </div>
      </div>
    </div>
    <div class="d-flex  align-items-center justify-content-between title-complete">
      <div class="d-flex align-items-center mt-4">
        <h2 class="title-tour">اطلاعات تور</h2>
      </div>
      <div class="d-flex align-items-center">
        <h2 class="title-tour font-size-16">هتل انتخابی : </h2>
        <h2 class="title-tour text-base m-right-8 font-size-16">{{ data.hotel.title }}</h2>
      </div>
    </div>
    <div class="box-top-box-reserve">
      <div *ngIf="isDesktop" class="d-flex align-items-center title-top justify-content-between">
        <h3 class="w-40 font-size-15 d-flex justify-content-center bold-600 m-bottom-5">پرواز رفت</h3>
        <h3 class="w-40 font-size-15 d-flex justify-content-center bold-600 m-bottom-5">پرواز برگشت</h3>
      </div>
      <div class="set-request-tour">
        <div class="info-from">
          <div *ngIf="isTablet" class="m-bottom-10 font-size-14 text-gray title-fly-mobi">پرواز رفت :</div>
          <div class="d-flex align-items-center w-100 justify-content-between">
            <span style="margin-right: 4px" class="city-name">{{ data.flight.origin_name }}</span>
            <strong class="m-left-47 font-size-16">به</strong>
            <strong class="font-size-16">{{ data.flight.destination_name }}</strong>
          </div>
          <div class="p-airline-top">
            <img src="{{ data.flight.airline_thumb?.url }}" width="40" alt="">
            <span class="font-size-13">{{ data.flight.airline_name }}</span>
          </div>
          <div class="w-100 end-box d-flex align-items-center justify-content-between">
            <div class="date">
              <span class="title">تاریخ :</span>
              <strong class="font-size-16">{{ data.flight.date | convertDate}}</strong>
            </div>
            <div class="time">
              <span class="title">ساعت :</span>
              <strong class="font-size-16">{{ data.flight.time }}</strong>
            </div>
          </div>
          <div class="w-100 mt-2 end-box d-flex align-items-center justify-content-center">
            <div class="date">
              <small class="title">تاریخ ورود به هتل :</small>
              <strong class="font-size-16">{{ data.rooms[0].rates[0].date| convertDate}}</strong>
            </div>
       
          </div>

        </div>
        <!--          <div class="item">-->
        <!--        -->
        <!--&lt;!&ndash;            <span class="text" style="direction: ltr!important">{{ data?.flight?.date }} {{ ' ' +&ndash;&gt;-->
        <!--&lt;!&ndash;            (data.flight?.time?.substring(0, 5)) }}</span>&ndash;&gt;-->
        <!--          </div>-->
        <!-- <div class="item">
          <span class="title">تاریخ ورود به هتل :</span>
          <span class="text" style="direction: ltr!important">۱۴۰۲/۰۶/۰۲</span>
        </div> -->
        <div class="info-time">
          <img class="m-bottom-10" src="../../../assets/img/moon.png" alt="">
          <span class="title">مدت اقامت:</span>
          <span class="text">{{ checkingReq.stayCount }} شب و {{ +checkingReq.stayCount + 1 }} روز</span>
        </div>
        <div class="info-to">
          <div *ngIf="isTablet" class="m-bottom-10 font-size-14 text-gray title-fly-mobi">پرواز برگشت :</div>
          <div class="d-flex align-items-center w-100 justify-content-between">
            <span style="margin-right: 4px" class="city-name">{{ data.flight.flight.origin_name }}</span>
            <strong class="m-right-28 font-size-16">به</strong>
            <strong class="font-size-16">{{ data.flight.flight.destination_name }}</strong>
          </div>
          <div class="p-airline-top">
            <img src="{{ data.flight.flight.airline_thumb?.url }}" width="40" alt="">
            <span class="font-size-13">{{ data.flight.flight.airline_name }}</span>
          </div>
          <div class="w-100 end-box d-flex align-items-center justify-content-between">
            <div class="date">
              <span class="title">تاریخ :</span>
              <strong class="font-size-16">{{ data.flight.flight.date | convertDate}}</strong>
            </div>
            <div class="time">
              <span class="title">ساعت :</span>
              <strong class="font-size-16">{{ data.flight.flight.time }}</strong>
            </div>
          </div>
          <div class="w-100 mt-2 end-box d-flex align-items-center justify-content-center">
            <div class="date">
              <small class="title">تاریخ خروج از هتل :</small>
              <strong class="font-size-16">{{ data.rooms[0].rates[data.rooms[0].rates.length -1].date | convertDate}}</strong>
            </div>
          </div>
        </div>
      </div>


    <h2 style="font-size: 15px" class="title-tour text-danger mt-3">اطلاعات رزروگیرنده (این مشخصات به عنوان طرف
      قرارداد درنظر گرفته می شود)</h2>
    <div class="set-info-supervisor">
      <div class="item-form">
        <label class="dana-bold" for="">نام و نام خانوادگی</label>
        <div class="inp-form mt-2">
          <input type="text" [formControl]="fullNameFC" placeholder="نام و نام خانوادگی">
        </div>
        <ng-container *ngIf="getError('reserver_full_name')">
          <span class="text-error text-danger">نام و نام خانوادگی الزامی است</span>
        </ng-container>
      </div>
      <div class="item-form">
        <label class="dana-bold" for="">
          کد ملی
        </label>
        <div class="inp-form mt-2">
          <input type="text" [formControl]="reserver_id_codeFC" placeholder="کد ملی">
        </div>
        <ng-container *ngIf="getError('reserver_id_code')">
          <span class="text-error text-danger">کدملی الزامی است</span>
        </ng-container>
      </div>
      <div class="item-form">
        <label class="dana-bold" for="">
          شماره همراه
        </label>
        <div class="inp-form mt-2">
          <input type="text" [formControl]="reserver_phoneFC" placeholder="شماره همراه">
        </div>
        <ng-container *ngIf="getError('reserver_phone')">
          <span class="text-error text-danger">شماره همراه الزامی است</span>
        </ng-container>
      </div>
    </div>
    <h2>اطلاعات مسافران</h2>
    <ng-template [ngIf]="showPassengers">

      <prs-passengers *ngFor="let room of roomsSelected;let i=index" [data]="data" [RoomData]="room" [index]="i"
                      [tourType]="data.hotel.is_domestic" (passengerResult)="getRoomData($event)"></prs-passengers>
    </ng-template>

    <div class="rules mt-3">
      <!-- <input type="checkbox" [(ngModel)]="isPrivacyCheck"> -->
      <p>ثبت درخواست به منزله پذیرش تمام
        <a style="color: var(--base-color)" (click)="openRulesPopup()">قوانین و مقررات</a>
        قوانین و مقررات مرتبط با سایت هتل و بلیط و پکیجهای این تور می باشد
      </p>
    </div>


    <!-- <div class="p-submit w-100 d-flex justify-content-center mt-4">
      <button class="btn-base px-4" (click)="submit()">ثبت درخواست</button>
    </div> -->
  </div>

</div>
