<div class="container p-x-16 p-y-16" *ngIf="data.data.length > 0">
  <div class="title-filter border-bottom p-bottom-10 w-100">
    <h2 class="m-y-0 fs-16 bold-600 text-dark">فیلترها</h2>
  </div>
  <div class="formcontainer w-100">
    <ng-template ngFor let-item [ngForOf]="data.data" let-index="index">
      <div *ngIf="item.type==='select'" class="w-100 item">
        <label for="cc">{{ item.label }}</label>
        <select name="cc" id="cc" [(ngModel)]="item.value">
          <option [ngValue]="x[item.keyValue]" *ngFor="let x of item.data">{{ x[item.keyOption] }}</option>
        </select>
      </div>
      <div *ngIf="item.type==='input'" class="w-100 item">
        <input type="text" [(ngModel)]="item.value">
      </div>
      <div *ngIf="item.type==='date'" class="w-100 item">
        <div class="d-flex mt-5">
          <div class="item-calender">
            <span>انتخاب تاریخ</span>
            <div style="background: white;" class="row-calender" (click)="openPicker(index)">
              <span>{{ (item.value | convertDate) }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="flex-x-center m-top-16 w-100">

    <button (click)="closeDialog()" class="btn-green h-45 w-50">جستجو</button>
  </div>
</div>