

<div class="add-tour">
  <form class="w-100">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">اضافه کردن فرودگاه جدید</label>
          <h2>اطلاعات فرودگاه</h2>
        </div>
        <!-- <div class="left">
          <div class="selectdiv">
            <label>
              <select [formControl]="statusFC">
                <option value="hide" selected> منتشر نشود</option>
                <option value="show">انتشار</option>
              </select>
            </label>
          </div>
        </div> -->
      </div>
      <div class="info-tour-body">
        <div class="top">

          <div class="item-info-2 w-48">
            <div class="select-info">
              <label for="">شهر مبدا</label>
              <prs-select-city [hasHotel]="true" [inCommingCity]="cities[0]" [cities]="data.cities[0].categories"
                               (citySelected)="getStCity($event)"></prs-select-city>
              <div *ngIf="errorService.hasError('origin_id')">
                <span class="text-danger">{{errorService.getError('origin_id')}}</span>
              </div>
            </div>

          </div>

          <div style="padding-right: 2rem" class="item-info w-48">
            <div class="select-info">
              <label for="">شهر مقصد</label>
              <prs-select-city [hasHotel]="true" [cities]="data.cities[0].categories"
                               (citySelected)="getEndCity($event)"></prs-select-city>
              <div *ngIf="errorService.hasError('destination_id')">
                <span class="text-danger">{{errorService.getError('destination_id')}}</span>
              </div>
            </div>
          </div>

          <div class="item-info">
            <label for="">عنوان فرودگاه</label>
            <input [formControl]="nameFC" type="text">
          </div>

          <div class="item-info">
            <label for="">کد فرودگاه</label>
            <input [formControl]="codeFC" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2>آپلود لوگو</h2>
        </div>
      </div>
      <div class="info-tour-body-upload">
        <div class="top-one">
          <prs-upload-single (result)="getLogo($event)"></prs-upload-single>

        </div>
      </div>
    </div>

    <div class="btn-parent-submit">

      <button class="submit-tour" (click)="submit()">ثبت فرودگاه</button>
    </div>
  </form>

</div>

