

<div class="add-tour" *ngIf="show">
    <form class="w-100">
      <div class="box-info-tour">
        <div class="info-tour-header">
          <div class="right">
            <label for="">ویرایش اتاق</label>
            <h2>اطلاعات اتاق</h2>
          </div>
          <!-- <div class="left">
            <div class="selectdiv">
              <label>
                <select [formControl]="statusFC">
                  <option value="hide" selected> منتشر نشود</option>
                  <option value="show">انتشار</option>
                </select>
              </label>
            </div>
          </div> -->
        </div>
        <div class="info-tour-body">
          <div class="top">
  
            <div class="item-info">
              <label for="">عنوان اتاق</label>
              <input [formControl]="nameFC" type="text">
            </div>
  
            <div class="item-info">
              <label for="">ظرفیت اتاق</label>
              <input [formControl]="capacityFC" type="text">
            </div>
          </div>
        </div>
      </div>
  
      <div class="btn-parent-submit">
  
        <button class="submit-tour" (click)="submit()">ویرایش اتاق</button>
      </div>
    </form>
  
  </div>
  
  