@import "src/assets/css/varible";

h1 {
  font-size: 18px;
  color: $base-color;
  font-weight: 600;
}

.form-control {
  margin: 8px 0;
}

.dropzone {
  margin: 8px 0;
}

.btn-save {
  margin-top: 12px;
  background-color: var(--green-color);
  color: var(--white);
  border-radius: var(--radius-btn);
  outline: none;
  border: none;
  height: 38px;
  width: 100px;
}

.btn-select-file {
  height: 40px;
  width: auto;
  padding: 0 8px;
  outline: none;
  border: none;
  background-color: $base-color;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.p-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}
.p-image {
  position: relative;
  height: 100px;
  width: 100px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  span {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    z-index: 0;
    top: 0;
    background: #ffffff99;
    display: grid;
    place-items: center;
color: #000;
font-weight: 700;
font-size: 13px;

  }

  .delete {
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 1;
    border: none;
    outline: none;
    background: #ff0000;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
  }
}