<section class="section mt-1">
  <div class="container">
    <h1 class="text-center is-bold ">
      ایجاد گالری جدید
    </h1>
    <hr />
    <div class="form-group">
      <label for="gallery">گالری:</label>
      <input class="file-input-upload" #inputFile type="file" id="file" placeholder="فایل خود را انتخاب کنید"
        (change)="getFile($event)">
      <div id="drop" style="margin-top: 1rem;"  class="p-list dropzone" *ngIf="show">



        <div class="w-100" *ngFor="let file of selectedFiles;let i = index" >
          
          <div class="p-image" >
            <button (click)="remove(i)" class="delete">حذف</button>
            <span *ngIf="file.type === 1">عکس شاخص</span>
            <img [src]="file.url" (click)="setThumbnail(i)" alt="">
          </div>

        </div>

      </div>
    </div>


  </div>
</section>