<div class="add-tour">

  <form class="w-100" [formGroup]="hotelForm">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">اضافه کردن هتل</label>
          <h2 class="text-dark">اطلاعات هتل</h2>
        </div>

        <div class="left">
          <div class="selectdiv">
            <label>
              <select formControlName="status_id">
                <option *ngFor="let item of data.statuses" value="item.id">{{ item.name }}</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top top-1">
          <div class="item-info">
            <label for="">عنوان هتل</label>
            <input formControlName="title" (change)="generateSlug()" type="text">
            <div *ngIf="errorService.hasError('title')">
              <span class="text-danger">{{errorService.getError('title')}}</span>
            </div>
          </div>
          <div class="item-info">
            <label for="">عنوان انگلیسی هتل</label>
            <input formControlName="titleEn" type="text">
            <div *ngIf="errorService.hasError('titleEn')">
              <span class="text-danger">{{errorService.getError('titleEn')}}</span>
            </div>
          </div>
          <div class="item-info">
            <label for="">نامک هتل</label>
            <input formControlName="slug" type="text">
            <div *ngIf="errorService.hasError('slug')">
              <span class="text-danger">{{errorService.getError('slug')}}</span>
            </div>
          </div>

          <div class="item-info">
            <label>نرخ ارز</label>
            <div class="inp-form w-25">
              <select class="w-100" name="" id="" formControlName="currency">
                <option disabled [value]="'all'">انتخاب کنید</option>
                <option [value]="'toman'">تومان</option>
                <option [value]="'dollar'">دلار</option>
                <option [value]="'derham'">درهم</option>
                <option [value]="'euro'">یورو</option>
              </select>
            </div>
          </div>
          <prs-select-city *ngIf="data.cities.length>0" [title]="'شهر خود را انتخاب کنید'" [hasHotel]="true" [cities]="data.cities"
          (citySelected)="getCitySelected($event)"></prs-select-city>
          <!-- <div class="item-info" >
            <label for="">شهر </label>
            <div style="height: 45px" class="selectdiv">
              <select formControlName="city_id" name="" id="">
                <option disable [value]="null">شهر مورد نظر را انتخاب کنید</option>
                <option *ngFor="let city of data.cities[0].categories" [value]="city.id">{{city.name}}</option>
              </select>
            </div>
            <div *ngIf="errorService.hasError('city_id')">
              <span class="text-danger">{{errorService.getError('city_id')}}</span>
            </div>
          </div> -->
        </div>
        <div class="bottom bottom-1">
          <div class="item-info">
            <label for="">موقعیت هتل</label>
            <input type="text" formControlName="location">
          </div>
          <div class="w-100">
            <div class="top">
              <div class="item-info-second w-100">
                <label class="mb-2" for="">توضیحات</label>
                <textarea style="margin: 0 auto;width: 100%" formControlName="description"></textarea>
                <!-- <prs-editor style="margin: 0 auto;width: 100%" (body)="getDescriptionFromEditor($event)"></prs-editor> -->
              </div>
            </div>
          </div>
          <div class="w-100">
            <div  class="top">
              <div class="item-info-second w-100">
                <label class="mb-2" for="">آدرس</label>
                <textarea style="margin: 0 auto;width: 100%" formControlName="address"
                          placeholder="آدرس را وارد کنید"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="item-info">
          <label for="">ستاره</label>
          <bar-rating [(rate)]="currentStar" [theme]="'default'" [max]="5"></bar-rating>
        </div>

      </div>


    </div>
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">سن کودک</label>
        </div>
      </div>
      <div class="d-flex">
        <div class="item-info d-flex">
          <label for="">سن کودک بدون تخت از</label>
          <input [(ngModel)]="noBedMin" type="number" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="item-info d-flex">
          <label for="">سن کودک بدون تخت تا</label>
          <input [(ngModel)]="noBedMax" type="number" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="item-info d-flex">
          <label for="">سن کودک با تخت از</label>
          <input [(ngModel)]="withBedMin" type="number" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="item-info d-flex">
          <label for="">سن کودک باتخت تا</label>
          <input [(ngModel)]="withBedMax" type="number" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">انتخاب موقعیت هتل</label>
          <h2 class="text-dark">منطقه هتل</h2>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="item-info w-100">
          <input  type="text" [(ngModel)]="coordinates"  (keyup)="getCoordinates()" [ngModelOptions]="{standalone: true}" placeholder="35.744388, 51.812055">

<!--          <app-get-lat-long [inCommingLatLng]="[lat,lng]" class="w-95 m-top-16 mx-auto" [textMarker]="'هتل'"-->
<!--          (latlng)="getLatLng($event)"></app-get-lat-long>-->
          </div>
      </div>
    </div>
    <div class="box-info-fly">
      <div class="info--19pxtour-header">
        <div class="right">
          <h2 style="font-size: 17px" class="text-dark">آپلود تصاویر</h2>
        </div>
      </div>
      <div class="info-tour-body-upload">

        <div class="bottom-one">
          <prs-multiple-upload (result)="getImages($event)"></prs-multiple-upload>
        </div>
      </div>
    </div>

    <div class="d-flex box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2 class="text-dark">امکانات هتل</h2>
        </div>
      </div>
      <div class="d-flex w-100 m-3 align-items-center justify-content-center p-list-option">
        <div class="d-flex align-items-center justify-content-start w-100 item" *ngFor="let service of data.services">
          <mat-checkbox [(ngModel)]="service.isSelected" [ngModelOptions]="{standalone: true}"></mat-checkbox>
          <label style="margin-left: 10px!important;" for="">{{ service.name }}</label>
        </div>
      </div>
    </div>

    <!-- <div class="box-info-fly">
      <prs-services [services]="services" (result)="getServicesResult($event)"></prs-services>
    </div> -->

  </form>
  <!-- <div class="box-info-fly">
    <div class="info-tour-header">
      <div class="right">
        <h2>انتخاب اتاق ها</h2>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-end  w-75 mb-5 mt-3">
      <span style="margin-left: 12px;" class="tip">اتاق مورد نظر برای قیمت گذاری را انتخاب کنید</span>
      <select style="width: 40%;" class="inp-form" [(ngModel)]="isCoefficient">
        <option value="0">نرخ گذاری عادی</option>
        <option value="1">نرخ گذاری ضریبی</option>
      </select>
    </div>
    <div class="d-flex flex-wrap justify-content-between w-100">
      <div *ngFor="let item of rooms" class="room-box d-flex flex-column item-info w-24">
        <div class="d-flex flex-wrap justify-content-between w-100">
          <h1>{{ item.name }}</h1>
          <mat-checkbox [(ngModel)]="item.isSelected"></mat-checkbox>
        </div>
        <div class="d-flex  w-100 justify-content-between align-items-center">
          <label for="">تخت اضافه:</label>
          <div class="d-flex align-items-center justify-content-end">
            <input class="w-50" type="number" [(ngModel)]="item.extra_bed_count">
          </div>
        </div>

        <div class="d-flex  w-100 justify-content-between align-items-center">
          <label for="">سن کودک:</label>
          <div class="d-flex align-items-center justify-content-end">
            <input class="w-50" type="number" [(ngModel)]="item.age_child">
          </div>
        </div>

        <div class="d-flex  w-100 justify-content-between align-items-center" *ngIf="isCoefficient === '1'">
          <label for="">ضریب:</label>
          <div class="d-flex align-items-center justify-content-end">
            <input class="w-50" type="number" [(ngModel)]="item.coefficient">
          </div>
        </div>
        <div class="d-flex  w-100 justify-content-between align-items-center">
          <label for="">رزرواسیون آنلاین</label>
          <div class="d-flex align-items-center justify-content-end">
            <mat-checkbox  color="primary" [(ngModel)]="item.online_reservation"></mat-checkbox>
          </div>
        </div>
        <div class="d-flex  w-100 justify-content-between align-items-center" *ngIf="isCoefficient === '1'">
          <label for="">موجودی از دوتخته</label>
          <div class="d-flex align-items-center justify-content-end">
            <mat-checkbox  color="primary" [(ngModel)]="item.is_twin_count"></mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="p-error">
    <span class="text-danger" *ngFor="let err of errors">{{ err[0] }}</span>
  </div>
  <div class="btn-parent-submit">
    <button class="submit-tour" (click)="add()">ثبت هتل</button>
  </div>
</div>
