<section class="s-flight-list">
  <div class="prs-responsive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11 m-auto p-flight-list-top">
          <div class="img-slider">
            <swiper class="swiper-flight-list h-100" [slidesPerView]="1" [navigation]="true" [spaceBetween]="0">
              <ng-template swiperSlide *ngFor="let item of hotelInfo.gallery">
                <img [src]="item ? item : '../../../assets/img/12123131.png' " alt="">
              </ng-template>
            </swiper>
          </div>
          <div class="p-information">
            <h2 class="name-hotel">
              <a href="">شما  {{ hotelInfo.title }} را انتخاب کرده اید</a>
            </h2>
            <div class="p-star">
              <i class="icon-star" *ngFor="let item of getStars(hotelInfo.stars)"></i>
            </div>
            <div class="location">
              <img src="../../../assets/img/location.png" alt="">
              <span>{{ hotelInfo.address }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-11 m-auto p-flight-list-bottom">
          <ng-template ngFor let-flight [ngForOf]="flights" let-index="index">
          <div class="thumbnail-room" *ngFor="let item of hotelInfo.rooms">
            <div class="d-flex align-items-center justify-content-start">
              <h3 class="title">جزییات اتاق</h3>
            </div>
            <div class="top">
              <div class="right">
                <h2>اتاق {{ item.room_type }}</h2>
              </div>
              <div class="left">
                <div class="p-price">
                  <span>قیمت:</span>
                  <div class="price">
                    <strong>{{getPrice(flight.adl_price , item.rates ) | sperator}}</strong>
                    <small>تومان</small>
                  </div>
                </div>
                <a href="" class="btn-base w-100">انتخاب تور</a>
              </div>
            </div>
            <div class="bottom">
              <div class="from">
                <span class="fly">پرواز رفت </span>
                <div class="airline">
                  <span>ایرلاین :</span>
                  <span>{{ flight.airline_name }}</span>

                  <img src="../../../assets/img/parnas-logo.png" alt="">
                </div>
                <div class="time">
                  <strong>{{ flight.date |convertDate}}</strong>
                  <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
                    <path
                      d="M.88,14.09,4.75,18a1,1,0,0,0,1.42,0h0a1,1,0,0,0,0-1.42L2.61,13H23a1,1,0,0,0,1-1h0a1,1,0,0,0-1-1H2.55L6.17,7.38A1,1,0,0,0,6.17,6h0A1,1,0,0,0,4.75,6L.88,9.85A3,3,0,0,0,.88,14.09Z"/>
                  </svg>

                  <strong>{{ flight.time }}</strong>
                </div>
              </div>
              <div class="to">
                <span class="fly">پرواز برگشت </span>
                <div class="airline">
                  <span>ایرلاین :</span>
                  <span>{{ flight.flight.airline_name }}</span>
                  <img src="../../../assets/img/parnas-logo.png" alt="">
                </div>
                <div class="time">
                  <strong>{{ flight.flight.date | convertDate}}</strong>
                  <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
                    <path
                      d="M.88,14.09,4.75,18a1,1,0,0,0,1.42,0h0a1,1,0,0,0,0-1.42L2.61,13H23a1,1,0,0,0,1-1h0a1,1,0,0,0-1-1H2.55L6.17,7.38A1,1,0,0,0,6.17,6h0A1,1,0,0,0,4.75,6L.88,9.85A3,3,0,0,0,.88,14.09Z"/>
                  </svg>
                  <strong>{{ flight.flight.time }}</strong>
                </div>
              </div>

            </div>
          </div>
        </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>




























