<div>
  <div class="inp-form w-100">
    <input class="input" type="text" placeholder="تعداد اتاق موجود" [formControl]="capacityFC">
  </div>
  <div class="inp-form w-100">
    <input class="input" type="text" placeholder="تعداد تخت اضافه" [formControl]="bedCountFC">
  </div>
  <div class="inp-form w-100">
    <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت تخفیف خورده" [formControl]="offerPriceFC">
  </div>
  <div class="inp-form w-100">
    <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت تخت اضافه" [formControl]="bedPriceFC">
  </div>
  <div class="inp-form w-100">
    <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت تخفیف خورده تخت اضافه" [formControl]="offerBedPriceFC">
  </div>
  <div class="inp-form mt-2 w-100">
    <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت خود را وارد کنید" [formControl]="priceFC">
  </div>
  <div class="inp-form mt-2 w-100">
    <select name="" id="" [formControl]="rateFC">
      <option [value]="'toman'">تومان</option>
      <option [value]="'dollar'">دلار</option>
      <option [value]="'derham'">درهم</option>
      <option [value]="'euro'">یورو</option>
    </select>
  </div>
  <div class="d-flex justify-content-between align-items-center w-100 mt-3">
    <button class="btn-base w-48 h-45" (click)="submit()">ثبت</button>
    <button class="btn-base-red w-48 h-45" (click)="dialogRef.close(false)">انصراف</button>
  </div>

</div>
