<div class="p-4 d-flex w-100 flex-wrap justify-content-between">
  <div class="w-100">
    <strong>قیمت گذاری</strong>

  </div>


  <div class="w-48 mt-4 d-flex flex-column align-items-start">
    <label for="">تعداد اتاق موجود</label>
    <div class="inp-form mt-2  w-100">
      <input class="input" type="text" placeholder="تعداد اتاق موجود" [formControl]="capacityFC">
    </div>
  </div>

  <div class="w-48 mt-4 d-flex flex-column align-items-start">
    <label for="">قیمت هر نفر در اتاق {{ data.room.room_type }} ({{ getCurrencyLabel() }})</label>
    <div class="inp-form mt-2 mt-2 w-100">
      <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت خود را وارد کنید"
        [formControl]="priceFC">
    </div>
  </div>
  
  <!-- <div class="w-48 mt-4 d-flex flex-column align-items-start">
    <label for="">قیمت کودک با تخت</label>
    <div class="inp-form mt-2 w-100">
      <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت کودک با تخت"
        [formControl]="bedPriceFC">
    </div>
  </div> -->

  <!-- <div class="w-48 mt-4 d-flex flex-column align-items-start">
    <label for="">تعداد تخت اضافه</label>
    <div class="inp-form mt-2 w-100">
      <input class="input" type="text" readonly placeholder="تعداد تخت اضافه" [formControl]="bedCountFC">
    </div>
  </div> -->



  <div class="w-48 mt-4 d-flex flex-column align-items-start">
    <label for="">قیمت تخت اضافه({{ getCurrencyLabel() }})</label>
    <div class="inp-form mt-2 w-100">
      <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت تخت اضافه"
        [formControl]="bedPriceFC">
    </div>
  </div>
  <!-- <div class="w-48 mt-4 d-flex flex-column align-items-start">
    <label for="">قیمت تخفیف خورده تخت اضافه</label>
    <div class="inp-form mt-2 w-100">
      <input class="input" type="text" mask="separator" thousandSeparator="," placeholder="قیمت تخفیف خورده تخت اضافه"
        [formControl]="offerBedPriceFC">
    </div>
  </div> -->


  <!-- <div class="d-flex mt-3 w-75 mx-auto align-items-center justify-content-evenly">
    <span>نرخ ارز</span>
    <div class="inp-form w-25">
      <select class="w-100" name="" id="" [formControl]="rateFC">
        <option disabled [value]="'all'">انتخاب کنید</option>
        <option [value]="'toman'">تومان</option>
        <option [value]="'dollar'">دلار</option>
        <option [value]="'derham'">درهم</option>
        <option [value]="'euro'">یورو</option>
      </select>
    </div>
  </div> -->

  <div class="d-flex justify-content-between mx-auto align-items-center w-50 mt-5">
    <button class="btn-base btn w-48 h-45" (click)="submit()">ثبت</button>
    <button class="btn bg-danger text-white w-48 h-45" (click)="dialogRef.close(false)">انصراف</button>
  </div>

</div>
