$base-color: #6683d7;
$base-color-two: #4fcdde;
$base-color-three: #6a6cf6;
$base-color-four: #e5c1a8;
$white-color: #fff;
$dark-color: #000;
$light-color: #f2f2f2;
$gray-color: #646464;


//dark-mode
$base-color-dark: #1d1e65;
$base-color-two-dark: #050846;
$text-color-dark: #fff;
$border-color-dark: #726868;
