

<div class="add-tour">
  <form class="w-100">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">اضافه کردن {{ type === 'country' ? 'کشور' : 'شهر' }} جدید</label>
          <h2 class="text-gray">اطلاعات {{ type === 'country' ? 'کشور' : 'شهر' }}</h2>
        </div>
        <!-- <div class="left">
          <div class="selectdiv">
            <label>
              <select [formControl]="statusFC">
                <option value="hide" selected> منتشر نشود</option>
                <option value="show">انتشار</option>
              </select>
            </label>
          </div>
        </div> -->
      </div>
      <div class="info-tour-body">
        <div class="top">

          <div style="padding-right: 2rem" class="item-info w-48" *ngIf="type === 'city'">
            <div class="select-info">
              <label for="">کشور </label>
              <prs-select-city [hasHotel]="true" [cities]="data.countries"
                               (citySelected)="getEndCity($event)"></prs-select-city>
              <div *ngIf="errorService.hasError('destination_id')">
                <span class="text-danger">{{errorService.getError('destination_id')}}</span>
              </div>
            </div>
          </div>
          <div class="item-info">
            <label for="">عنوان {{ type === 'country' ? 'کشور' : 'شهر' }}</label>
            <input [formControl]="nameFC" type="text">
          </div>

          <div class="item-info">
            <label for="">کد {{ type === 'country' ? 'کشور' : 'شهر' }}</label>
            <input [formControl]="codeFC" type="text">
          </div>
        </div>
        <div class="top" *ngIf="type === 'city'">
          <div class="address-hotel">
            <label for="address">فرودگاه های موردنظر را انتخاب کنید</label>
            <mat-form-field appearance="fill">
              <mat-label>فرودگاه ها</mat-label>
              <mat-select [formControl]="selectedAirportFC" multiple>
                <mat-select-trigger>
                  <span>فرودگاه های انتخاب شده</span>

                </mat-select-trigger>
                <mat-option *ngFor="let x of data.airports" [value]="x.id">{{x.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <prs-multiple-upload (result)="getFiles($event)" (deletedImages)="getFiles($event)"></prs-multiple-upload>

      </div>


    </div>

    <div class="btn-parent-submit">

      <button class="submit-tour" (click)="submit()">ثبت {{ type === 'country' ? 'کشور' : 'شهر' }}</button>
    </div>
  </form>

</div>

