<prs-loading *ngIf="isLoading"></prs-loading>
<div class="box-pricing">
  <div class="top w-100 d-flex justify-content-between">
    <div class="detail">
      <div class="star">
        <!-- <i class="icon-star" *ngFor="let star of getStars(ratingData?.hotel?.stars)"></i> -->
      </div>
      <h2 class="name-hotel my-2">
        <a>{{ ratingData ? ratingData.hotel.title : '' }}</a>
      </h2>
      <h2 class="name-hotel my-2">
        <a>{{ ratingData ? ratingData.hotel.titleEn : '' }}</a>
      </h2>
      <div class="address">
        <!-- <span>{{ ratingData?.hotel?. }}</span> -->
      </div>
    </div>
    <a style="width: 100px !important;height: 40px !important;" routerLink="/panel/hotel/edit/{{id}}"  class="btn-base">ویرایش هتل</a>
  </div>
  <div class="bottom">
    <div class="w-100 d-flex align-items-center justify-content-between">
      <h2 class="title">قیمت گذاری هتل</h2>
      <ul style="border: 1px solid #E0E0E0" class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
        <li *ngFor="let room of rooms" [class]="activedRoom === room.id ? 'nav-link active' : 'nav-link'" class="nav-item d-flex flex-column align-items-center">
          <a style="padding: 0 16px !important;" [class]="activedRoom === room.id ? 'nav-link active' : 'nav-link'"
             (click)="changeTab(room.id,room.room_type_id)">
            {{ room.room_type}}</a>
          <span *ngIf="isCoefficient === '1'">ضریب :{{ room.coefficient }}</span>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <!-- <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">1</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div> -->
      <div class="w-100" *ngIf="rooms.length > 0">
        <prs-main-picker *ngIf="showCalendar" [room]="getRoom()" [hotelID]="+id"
          [pricingType]="isCoefficient"></prs-main-picker>
      </div>
      <div class="d-flex justify-content-center align-items-center" *ngIf="rooms.length == 0">
        <p>لطفا برای قیمت گذاری ابتدا در بخش ویرایش هتل اتاق های خود را انتخاب کنید</p>
      </div>
    </div>
  </div>
</div>
