<div [id]="name" class="input-custom input-customize  w-100 date-to" clickOutside
     (clickOutside)="onClickedOutside($event)">

  <input (click)="openDropdown()" type="text" [name]="name" class="question" [id]="name" [formControl]="hotelFC" required
         autocomplete="off"/>

  <label [for]="name">
    <span>{{title}}</span>
  </label>

  <!-- class = animated zoomIn -->
  <div *ngIf="dd && hotels.length > 0" class="dropDown-show">
    <div *ngFor="let item of filteredOptions | async" class="item" (click)="changed(item)">
      <div class="name-hotel-fa">
        <div class="r">
          <img width="20" src="assets/img/icons8-location-30%20(1).png" alt="">
          <h3 class="font-size-13 m-0 bold-500 text-gray">{{item.title}}</h3>
        </div>
        <div class="star">
          <i class="icon-star" *ngFor="let item of getStars(item.stars)"></i>

        </div>
      </div>
      <div class="name-hotel-en">
       <h4>{{item.titleEn}}</h4>
      </div>

    </div>
  </div>
</div>
