<!-- <prs-loading *ngIf="isLoading"></prs-loading> -->
<div class="list-tour">
  <div class="title">
    <h2>لیست هتل ها</h2>
    <!-- <prs-select-city [hasHotel]="true" (citySelected)="getCitySelected($event)"></prs-select-city> -->
    <div class="d-flex search-box-hotel">
      <div class="item-info-2 w-48">
        <div class="select-info">
          <prs-select-city [title]="'شهر خود را انتخاب کنید'" [hasHotel]="true" [cities]="citiesResponse"
            (citySelected)="getCitySelected($event)"></prs-select-city>
        </div>
      </div>
      <input style="margin-right: 8px" [formControl]="keywordFC" (change)="filter()" placeholder="جستجو بر اساس نام هتل" type="text">
      <button class="ms-2 btn-base btn-search" (click)="filter()">جستجو</button>
    </div>
    <a *ngIf="permition.check('hotels.create')" class="btn-add-tour btn-base" routerLink="/panel/hotel/add">اضافه</a>
    <!-- <a *ngIf="session.checkItemPermission('posts.create')" class="btn-add-tour" routerLink="/panel/hotel/add">اضافه</a> -->
  </div>
  <div class="table-list-tour">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="title-tour bold-600">عنوان هتل</span>
      <span class="title-tour bold-600">عنوان انگلیسی هتل</span>
      <span class="from-to">ایجاد کننده</span>
      <span class="from-to">تعداد بازدید</span>
      <span class="setting">تنظیمات</span>
    </div>

    <ng-template [ngIf]="isLoading">
      <div class="shimmer-6" *ngFor="let x of [1,2,3,4,5,6]">
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
        <div class="item-shimmer"></div>
      </div>
    </ng-template>
    <div class="body-list-tour" *ngIf="hotelList.length > 0">
      <div class="item" *ngFor="let hotel of hotelList | paginate: paginateConfig;let i = index">
        <span class="id">{{hotel.id }}</span>
        <span class="title-tour">{{ hotel.title }}</span>
        <span class="title-tour">{{ hotel.titleEn }}</span>
        <span class="title-tour">{{ hotel.user.full_name }}</span>
        <span class="title-tour">{{ hotel.visitCount }}</span>
        <div class="button-setting">
          <a routerLink="/panel/hotel/edit/{{ hotel.id }}" *ngIf="permition.check('hotels.edit')" class="edit-btn">ویرایش</a>
          <a style="background: #0f6b54 !important;" *ngIf="permition.check('rates.read')" routerLink="/panel/hotel/pricing/{{ hotel.id }}/{{ hotel.slug }}"
             class="edit-btn">قیمت گذاری</a>
          <!-- <a (click)="publicService.openPage('/panel/hotels/' + hotel.slug)" class="view-btn">نمایش</a> -->
          <button *ngIf="permition.check('hotels.delete')" (click)="deleteClicked(hotel.slug)"
                  class="delete-btn">حذف
          </button>
        </div>
      </div>
      <div>
      </div>
    </div>
    <pagination-controls class="pagination-control" (pageChange)="onPageChanged($event)" previousLabel="قبلی"
                         nextLabel="بعدی" screenReaderPaginationLabel="صفحه بندی" screenReaderPageLabel="صفحه"
                         screenReaderCurrentLabel="شما در صفحه ی">
    </pagination-controls>
  </div>

</div>

