<!-- <prs-loading *ngIf="isLoading"></prs-loading> -->
<div class="list-tour">
  <div class="title">
    <h2>لیست هتل ها</h2>
    <!-- <prs-select-city [hasHotel]="true" (citySelected)="getCitySelected($event)"></prs-select-city> -->
    <div class="d-flex search-box-hotel">
      <input [formControl]="keywordFC" placeholder="جستجو بر اساس نام هتل" type="text">
      <button class="ms-2 btn-base" (click)="getList()">جستجو</button>
    </div>
    <a class="btn-add-tour btn-base" routerLink="/panel/hotel/add">اضافه</a>
    <!-- <a *ngIf="session.checkItemPermission('posts.create')" class="btn-add-tour" routerLink="/panel/hotel/add">اضافه</a> -->
  </div>
  <div class="table-list-tour">
    <div class="header-list-tour">
      <span class="id">#</span>
      <span class="title-tour">عنوان هتل</span>
      <span class="from-to">ایجاد کننده</span>
      <span class="from-to">تعداد بازدید</span>
      <span class="setting">تنظیمات</span>
    </div>
    <div class="body-list-tour" *ngIf="hotelList.length > 0">
      <div class="item" *ngFor="let hotel of hotelList | paginate: paginateConfig;let i = index">
        <span class="id">{{hotel.id }}</span>
        <span class="title-tour">{{ hotel.title }}</span>
        <span class="title-tour">{{ hotel.user.full_name }}</span>
        <span class="title-tour">{{ hotel.visitCount }}</span>
        <div class="button-setting">
          <a routerLink="/panel/hotel/edit/{{ hotel.id }}"
            class="edit-btn">ویرایش</a>
            <a  routerLink="/panel/hotel/pricing/{{ hotel.id }}/{{ hotel.slug }}"
            class="edit-btn">قیمت گذاری</a>
          <a (click)="publicService.openPage('/panel/hotels/' + hotel.slug)" class="view-btn">نمایش</a>
          <button *ngIf="session.checkItemPermission('Hotel.delete')" (click)="deleteClicked(hotel.slug)"
            class="delete-btn">حذف</button>
        </div>
      </div>
      <div>
      </div>
    </div>
    <pagination-controls class="pagination-control"
    (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی" screenReaderPaginationLabel="صفحه بندی"
    screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
  </pagination-controls>
  </div>

</div>
