<div class="top-row">
  <div class="start w-100">
    <div class="item-inp w-48">
      <label for="">مبدا</label>
      <prs-custom-select [name]="'origin'" (itemResult)="getDepartureOriginCity($event)"
        *ngIf="(data.airports ?? []).length > 0" [list]="data.airports"></prs-custom-select>
      <div *ngIf="error.hasError('origin')">
        <span class="text-danger">{{error.getError('origin')}}</span>
      </div>
    </div>
    <div class="item-inp w-48">

      <label for="">مقصد</label>
      <prs-custom-select [name]="'destination'" (itemResult)="getDepartureDestCity($event)"
        *ngIf="(data.airports ?? []).length > 0" [list]="data.airports"></prs-custom-select>
      <div *ngIf="error.hasError('destination')">
        <span class="text-danger">{{error.getError('destination')}}</span>
      </div>
    </div>
    <div class="item-inp m-top-16 w-48">
      <label for="">ایرلاین</label>
      <prs-custom-select [name]="'airline'" (itemResult)="getDepartureAirline($event)"
        *ngIf="(data.airlines ?? []).length > 0" [list]="data.airlines"></prs-custom-select>
      <div *ngIf="error.hasError('airline')">
        <span class="text-danger">{{error.getError('airline')}}</span>
      </div>
    </div>
    <div style="position: relative;top: 10px" class="item-inp-date m-top-16 w-48" (click)="openPicker('departure')">
      <label for="">انتخاب بازه</label>
      <span>{{ (departureObj.end_date | convertDate) + '-' + (departureObj.start_date | convertDate)}}</span>
      <div class="mt-2" *ngIf="error.hasError('start_date') || error.hasError('end_date') ">
        <span class="text-danger">{{error.getError('start_date')}} {{error.getError('end_date') }}</span>
      </div>
    </div>

    <div class="item-inp m-top-16 w-48">
      <label for="">تعداد شب</label>
      <prs-custom-select [name]="'night'" (itemResult)="getStayCount($event)" *ngIf="(stayCountList ?? []).length > 0"
        [list]="stayCountList"></prs-custom-select>
      <div *ngIf="error.hasError('stay_count')">
        <span class="text-danger">{{error.getError('stay_count')}}</span>
      </div>
    </div>
    <div class="w-48 grid-2 gap-10">
      <div class="d-flex flex-column align-items-center">
        <label class="font-size-13 bold-600" for="">checkin tomorrow</label>
        <prs-checkbox [(ngModel)]="departureObj.checkin_tomorrow"></prs-checkbox>
      </div>

    </div>
    <div class="w-100 m-top-16 d-flex justify-content-end">
      <a (click)="getFlights('departure')" class="btn-base h-40 w-20 cursor-pointer">نمایش پرواز ها</a>
    </div>
  </div>
  <div class="end">
    <div class="item-inp w-48">
      <label for="">مبدا</label>
      <prs-custom-select [name]="'d-origin'" (itemResult)="getReturnOriginCity($event)"
        *ngIf="(data.airports ?? []).length > 0" [list]="data.airports"></prs-custom-select>
      <div *ngIf="error.hasError('origin')">
        <span class="text-danger">{{error.getError('origin')}}</span>
      </div>
    </div>
    <div class="item-inp w-48">
      <label for="">مقصد</label>
      <prs-custom-select [name]="'d-destination'" (itemResult)="getReturnDestCity($event)"
        *ngIf="(data.airports ?? []).length > 0" [list]="data.airports"></prs-custom-select>
      <div *ngIf="error.hasError('destination')">
        <span class="text-danger">{{error.getError('destination')}}</span>
      </div>
    </div>
    <div class="item-inp m-top-16 w-48">
      <label for="">ایرلاین</label>
      <prs-custom-select [name]="'d-airline'" (itemResult)="getReturnAirline($event)"
        *ngIf="(data.airlines ?? []).length > 0" [list]="data.airlines"></prs-custom-select>
      <div *ngIf="error.hasError('airline')">
        <span class="text-danger">{{error.getError('airline')}}</span>
      </div>
    </div>

    <div style="position: relative;top: 10px" class="item-inp-date  m-top-16 w-48" (click)="openPicker('return')">
      <label for="">انتخاب بازه</label>
      <span>{{ (ReturnObj.end_date | convertDate) + '-' + (ReturnObj.start_date | convertDate)}}</span>
      <div class="mt-2" *ngIf="error.hasError('start_date') || error.hasError('end_date') ">
        <span class="text-danger">{{error.getError('start_date')}} {{error.getError('end_date') }}</span>
      </div>
    </div>
    <div class="w-48 grid-2 gap-10">
      <div class="d-flex flex-column align-items-center">
        <label class="font-size-13 bold-600" for="">checkout yesterday</label>
        <prs-checkbox [(ngModel)]="ReturnObj.checkout_yesterday"></prs-checkbox>
      </div>
    </div>

    <div class="w-100 m-top-16 d-flex justify-content-end">
      <a (click)="getFlights('return')" class="btn-base h-40 w-20 cursor-pointer">نمایش پرواز ها</a>
    </div>
  </div>
</div>
<div class="down-row">
  <div class="start">
    <div class="header">
      <span>مبدا - مقصد</span>
      <span>ایرلاین</span>
      <span>کلاس</span>
      <span>تاریخ</span>
      <span>ساعت</span>
      <span>شماره پرواز</span>
    </div>
    <div class="empty-box mt-3" *ngIf="departureList.length === 0 && !departureLoading">
      <span>موردی یافت نشد</span>
    </div>
    <span class="spinner-border spinner-border-sm spinner-loading mt-3" *ngIf="departureLoading"></span>
    <div class="item-body" *ngFor="let item of departureList">
      <div class="d-flex flex-column align-items-center">
        <span>{{item.origin_name}}-{{item.destination_name}}</span>
        <!--        <span>{{item.destination_name}} - {{item.origin_name}}</span>-->
      </div>
      <span>{{item.airline_name}}</span>
      <span>{{ item.cabin_type }}</span>
      <span>{{item.date | convertDate}}</span>
      <span>{{item.time | timeFixer}}</span>
      <span>{{item.flight_number}}</span>
    </div>
  </div>
  <div class="end">
    <div class="header">
      <span>مبدا - مقصد</span>
      <span>ایرلاین</span>
      <span>کلاس</span>
      <span>تاریخ</span>
      <span>ساعت</span>
      <span>شماره پرواز</span>
    </div>
    <span class="spinner-border spinner-border-sm mt-5 spinner-loading " *ngIf="returnLoading"></span>
    <div class="empty-box mt-3" *ngIf="returnList.length === 0 && !returnLoading">
      <span>موردی یافت نشد</span>
    </div>
    <div class="item-body" *ngFor="let item of returnList">
      <div class="d-flex flex-column align-items-center">
        <span>{{item.origin_name}}-{{item.destination_name}}</span>
        <!--        <span>کیش- تهران</span>-->
      </div>
      <span>{{item.airline_name}}</span>
      <span>{{ item.cabin_type }}</span>
      <span>{{item.date | convertDate}}</span>
      <span>{{item.time | timeFixer}}</span>
      <span>{{item.flight_number}}</span>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center mb-2">
  <button class="btn-base-purple w-25 mt-3 cursor-pointer" (click)="composition()">نمایش ترکیب ها
    <span class="spinner-border spinner-border-sm" *ngIf="compositionLoading"></span>
  </button>
</div>
<div class="d-flex" *ngIf="compositionData && compositionData.length > 0">
  <span>انتخاب همه</span>
  <prs-checkbox [(ngModel)]="selectAll" (ngModelChange)="selectAllChanged()"></prs-checkbox>
</div>
<div style="padding: 1rem" class="body-list-tour">
  <div *ngIf="filterPos" >

    <div class="gap-2" style="display: flex; justify-content: space-between;align-items: center">
      <div class="w-15">
        <p>نمایض براساس</p>

        <select class="inp-form" name="" id="" [(ngModel)]="compositionListObj.is_mixed">
          <option value="" disabled>نمایش براساس</option>
          <option value="true">موجود</option>
          <option value="false">نا موجود</option>
        </select>
      </div>

      <div class="w-15">
        <p>ایرلاین رفت</p>

        <select class="inp-form" name="" id="" [(ngModel)]="compositionListObj.departure_airline">
          <option *ngFor="let item of airlines.departure" [value]="item">{{ item }}</option>
        </select>
      </div>

      <div class="w-15">
        <p>  ایرلاین برگشت</p>

        <select class="inp-form" name="" id="" [(ngModel)]="compositionListObj.return_airline">
          <option value="" disabled> برگشت ایرلاین</option>
          <option *ngFor="let item of airlines.return" [value]="item">{{ item }}</option>
        </select>
      </div>
      <div class="w-15">
        <p>  روز</p>

        <select class="inp-form" name="" id="" [(ngModel)]="compositionListObj.day">
          <option value="" disabled> روز</option>
          <option *ngFor="let item of weekDays" [value]="item">{{ item }}</option>
        </select>

      </div>
      <div class="w-15">
        <p>  آژانس</p>

        <select class="inp-form" name="" id="" [(ngModel)]="compositionListObj.agency">
          <option value="" disabled> آژانس</option>
          <option *ngFor="let item of agencies" [value]="item.id">{{ item.name }}</option>
        </select>

      </div>

<div class="w-15">
  <p>شماره پرواز</p>
  <input class="inp-form" type="text" [(ngModel)]="compositionListObj.flight_number">

</div>


        <button class="btn-base h-50 w-10 mt-2 cursor-pointer" (click)="compositionFilter()">فیلتر</button>

        <button class="btn-base-red h-50 w-10 mt-2 cursor-pointer " (click)="deleteFilter()">پاک کردن فیلتر</button>
<!--      <div class="w-100 m-top-16 d-flex justify-content-end">-->
<!--      </div>-->

<!--      <div class="w-100 m-top-16 d-flex justify-content-end">-->


<!--      </div>-->
    </div>



  </div>
  <div class="item-two" *ngFor="let transfer of compositionData ;let i = index">
    <span>{{ i + 1 }}</span>
    <span>
      <prs-checkbox *ngIf="!transfer.is_mix" [(ngModel)]="transfer.isChecked"></prs-checkbox>
      <span *ngIf="transfer.is_mix" class="text-green">ترکیب موجود</span>
    </span>
    <div class="d-flex flex-column ">
      <span>{{ transfer.departure.id }}</span>
      <span style="margin-top: 6px">{{ transfer.return.id }}</span>

    </div>
    <div class="d-flex flex-column ">
      <span class="title-tour">{{ transfer.departure.origin_name }} - {{ transfer.departure.destination_name }}</span>
      <span style="margin-top: 6px" class="title-tour">{{ transfer.return.origin_name }} - {{
        transfer.return.destination_name }}</span>

    </div>
    <div class="d-flex flex-column ">
      <span class="title-tour">{{ transfer.departure.airline_name }}</span>
      <span style="margin-top: 6px" class="title-tour">{{ transfer.return.airline_name }}</span>

    </div>
    <div class="d-flex flex-column ">
      <span class="title-tour">{{ transfer.departure.date | convertDate}} - {{transfer.departure.time |
        timeFixer}}</span>
      <span style="margin-top: 6px" class="title-tour">{{ transfer.return.date | convertDate}} -
        {{transfer.return.time | timeFixer}}</span>
    </div>

    <div class="d-flex flex-column ">
      <span class="title-tour">{{ calendar.getWeekDay(transfer.departure.date) }}</span>
      <span style="margin-top: 6px" class="title-tour">{{ calendar.getWeekDay(transfer.return.date) }}</span>
    </div>
    <div class="d-flex flex-column">
      <span class="title-tour">{{ transfer.departure.cabin_type }}</span>
      <span style="margin-top: 6px" class="title-tour">{{ transfer.return.cabin_type }}</span>
    </div>
    <div class="d-flex flex-column">
      <span class="title-tour">{{ transfer.departure.flight_number }}</span>
      <span style="margin-top: 6px" class="title-tour">{{ transfer.return.flight_number }}</span>
    </div>
    <div class="d-flex flex-column">
      <span class="title-tour" style="font-size: 10px">{{ transfer.departure.agency }}</span>
      <span style="font-size: 10px;margin-top: 6px" class="title-tour">{{ transfer.return.agency }}</span>
    </div>

    <div class="d-flex flex-column ">

      <span class="text-danger">{{departureObj.stay_count}} شب</span>
      <!-- <span style="margin-top: 6px" class="text-danger">{{calculateStayCount(transfer)}} شب</span> -->
      <!-- <span class="title-tour">{{ transfer.flight.adl_price | sperator }}</span> -->
    </div>

    <div class="d-flex flex-column ">
      <span class="title-tour">{{transfer.user?.full_name ??''}}</span>
      <!-- <span class="title-tour">{{ transfer.flight.capacity }}</span> -->
    </div>


    <div class="d-flex flex-column " *ngIf="transfer.isChecked">
      <label class="font-size-11 bold-600" for="">نادیده گرفتن بات</label>
      <prs-checkbox [(ngModel)]="transfer.ignore"></prs-checkbox>
    </div>

  </div>
  <div class="d-flex justify-content-center align-items-center" *ngIf="compositionData && compositionData.length > 0">
    <button class="btn-base-purple w-25 mt-3" [disabled]="mixedLoading" (click)="compositionSubmit()">
      <span class="spinner-border spinner-border-sm" *ngIf="mixedLoading"></span>
      ذخیره ترکیب ها</button>
  </div>
</div>
