@import "src/assets/css/varible";
.top-row{
  background: $white-color;
  border-radius: 15px;
  border: 1px solid #F2F2F2;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 14px;
  .start{
    background: $light-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 10px;
  }
  .end{
    background: $light-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 10px;
  }
}
.down-row{
  background: $white-color;
  border-radius: 15px;
  border: 1px solid #F2F2F2;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 14px;
  margin-top: 1rem;
  .start{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .header{
      background: $light-color;
      width: 100%;
      padding: 12px 0;
      display: grid;
      grid-template-columns: 2fr 1fr 0.5fr 1fr 1fr 1fr;
      border-radius: 10px;
      place-items: center;
      span{
        font-weight: 500;
        color: $gray-color;
        font-size: 12px;
      }
    }
    .item-body{
      border-bottom: 1px solid #d4d4d4;
      width: 100%;
      padding: 12px 0;
      display: grid;
      grid-template-columns: 2fr 1fr 0.5fr 1fr 1fr 1fr;
      place-items: center;
      span{
        font-weight: 500;
        color: $gray-color;
        font-size: 12px;
      }
    }

  }

  .end{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .header{
      background: $light-color;
      width: 100%;
      padding: 12px 0;
      display: grid;
      grid-template-columns: 2fr 1fr 0.5fr 1fr 1fr 1fr;
      border-radius: 10px;
      place-items: center;
      span{
        font-weight: 500;
        color: $gray-color;
        font-size: 12px;
      }
    }
    .item-body{
      border-bottom: 1px solid #d4d4d4;
      width: 100%;
      padding: 12px 0;
      display: grid;
      grid-template-columns: 2fr 1fr 0.5fr 1fr 1fr 1fr;
      place-items: center;
      span{
        font-weight: 500;
        color: $gray-color;
        font-size: 12px;
      }
    }

  }

}


.item-inp{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label{
    font-size: 13px;
    font-weight: 600;
    color: $dark-color;
  }
  input{
    width: 100%;
    margin-top: 12px;
    background: $white-color;
    border-radius: 10px;
    height: 40px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 0 8px;
  }
}

.body-list-tour {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $white-color;
  .id{
    width: 35px;
    height: 35px;
    background: $base-color-two;
    border-radius: 50%;
    display: grid;
    color: $white-color;
    place-items: center;
  }

}
.body-list-tour .item {
  height: 80px;
  width: 100%;
  background: $white-color;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr 2fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
}
.spinner-loading {
  width: 50px;
  height: 50px;
}

.item-inp-date{
  width: 40%;
  text-align: center;
  position: relative;
  z-index: 2;
  background: #fff;
  border-radius: 15px;
  height: 50px;
  border: 1px solid #E0E0E0;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 12px;
}
prs-custom-select{
  width: 100%;
}
.item-two{
  background: $white-color;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: 90px;
  width: 100%;
  background: $white-color;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr 2fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
  padding: 0 14px;
  place-items: center;
  margin-top: 12px;
}
.text-green {
  color: #59bb5a!important;
  border: 1px dashed #59bb5a;
  border-radius: 10px;
  padding: 4px;
  font-size: 12px;
}
