<div class="top-row">
  <div class="start w-100">
    <div class="item-inp w-48">
      <label for="">مبدا</label>
      <input type="text">
    </div>
    <div class="item-inp w-48">
      <label for="">مقصد</label>
      <input type="text">
    </div>
    <div class="item-inp m-top-16 w-48">
      <label for="">ایرلاین</label>
      <input type="text">
    </div>
    <div class="w-48 grid-2 gap-10">
      <div class="d-flex flex-column align-items-center">
        <label class="font-size-13 bold-600" for="">checkin tomorrow</label>
        <input class="m-top-20" type="checkbox">
      </div>
      <div class="d-flex flex-column align-items-center">
        <label class="font-size-13 bold-600" for="">checkout yesterday</label>
        <input class="m-top-20" type="checkbox">
      </div>
    </div>
    <div class="w-100 m-top-16 d-flex justify-content-end">
      <a href="" class="btn-base h-40 w-20">ثبت</a>
    </div>
  </div>
  <div class="end">
    <div class="item-inp w-48">
      <label for="">مبدا</label>
      <input type="text">
    </div>
    <div class="item-inp w-48">
      <label for="">مقصد</label>
      <input type="text">
    </div>
    <div class="item-inp m-top-16 w-48">
      <label for="">ایرلاین</label>
      <input type="text">
    </div>
    <div class="w-48 grid-2 gap-10">
      <div class="d-flex flex-column align-items-center">
        <label class="font-size-13 bold-600" for="">checkin tomorrow</label>
        <input class="m-top-20" type="checkbox">
      </div>
    </div>
    <div class="w-100 m-top-16 d-flex justify-content-end">
      <a href="" class="btn-base h-40 w-20">ثبت</a>
    </div>
  </div>
</div>
<div class="down-row">
  <div class="start">
    <div class="header">
      <span>مبدا - مقصد</span>
      <span>ایرلاین</span>
      <span>تاریخ</span>
      <span>ساعت</span>
      <span>شماره پرواز</span>
    </div>
    <div class="item-body">
      <div class="d-flex flex-column align-items-center">
        <span>تهران-کیش</span>
        <span>کیش- تهران</span>
      </div>
      <span>تابان</span>
      <span>1402/05/06</span>
      <span>23:59:00</span>
      <span>7231</span>
    </div>
  </div>
  <div class="end">
    <div class="header">
      <span>مبدا - مقصد</span>
      <span>ایرلاین</span>
      <span>تاریخ</span>
      <span>ساعت</span>
      <span>شماره پرواز</span>
    </div>
    <div class="item-body">
      <div class="d-flex flex-column align-items-center">
        <span>تهران-کیش</span>
        <span>کیش- تهران</span>
      </div>
      <span>تابان</span>
      <span>1402/05/06</span>
      <span>23:59:00</span>
      <span>7231</span>
    </div>
  </div>
</div>
