<!-- <prs-loading *ngIf="isLoading"></prs-loading> -->
<div class="box-info-fly">

  <div class="info-tour-header">
    <div class="right">
      <h2>{{ 'selectRoomLabel' | translate }}</h2>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end  w-75 mb-5 mt-3">
    <span style="margin-left: 12px;" class="tip">
      {{ 'selectRoomForPricingLabel' |translate}}
    </span>
    <select style="width: 40%;" class="inp-form" [(ngModel)]="isCoefficient">
      <option value="0">{{ 'normalPricing' | translate }}</option>
      <option value="1">{{ 'QuotientPricing' | translate }}</option>
    </select>
  </div>
  <div class="d-flex flex-wrap justify-content-between w-100" *ngIf="!isLoading">
    <div *ngFor="let item of rooms;let i =index" class="room-box d-flex flex-column item-info w-24">
      <div class="d-flex flex-wrap justify-content-between w-100">
        <h3>{{ currentLang === 'fa'  ? item.name  : item.nameEn }}</h3>
        <mat-checkbox [(ngModel)]="item.isSelected"></mat-checkbox>
      </div>
      <div class="d-flex  w-100 justify-content-between align-items-center">
        <label for="">{{ 'extraBed' | translate }}:</label>
        <div class="d-flex align-items-center justify-content-end">
          <input [ngClass]="{'box-error' :hasError(i,'extra_bed_count')}" class="w-50" type="number"
            [(ngModel)]="item.extra_bed_count">
        </div>
      </div>
      <!-- <div class="d-flex  w-100 justify-content-between align-items-center">
        <label for="">{{ 'childAge' | translate }}:</label>
        <div class="d-flex align-items-center justify-content-end">
          <input [ngClass]="{'box-error' :hasError(i,'age_child')}" class="w-50" type="number"
            [(ngModel)]="item.age_child">
        </div>
      </div> -->
      <div class="d-flex  w-100 justify-content-between align-items-center">
        <label for="">{{ 'childCount' | translate }}:</label>
        <div class="d-flex align-items-center justify-content-end">
          <input [ngClass]="{'box-error' :hasError(i,'chd_capacity')}" class="w-50" type="number"
            [(ngModel)]="item.chd_capacity">
        </div>
      </div>
      <div class="d-flex  w-100 justify-content-between align-items-center">
        <label for="">{{ 'extraPerson' |translate }}:</label>
        <div class="d-flex align-items-center justify-content-end">
          <input [ngClass]="{'box-error' :hasError(i,'total_extra_count')}" class="w-50" type="number"
            [(ngModel)]="item.total_extra_count">
        </div>
      </div>
      <div class="d-flex  w-100 justify-content-between align-items-center" *ngIf="isCoefficient === '1'">
        <label for="">{{ 'coefficients'|translate }}:</label>
        <div class="d-flex align-items-center justify-content-end">
          <input [ngClass]="{'box-error' :hasError(i,'coefficient')}" class="w-50" type="number"
            [(ngModel)]="item.coefficient">
        </div>
      </div>
      <div class="d-flex  w-100 justify-content-between align-items-center" *ngIf="isCoefficient === '1'">
        <label for="">{{ 'onlineReservation' | translate }}</label>
        <div class="d-flex align-items-center justify-content-end">
          <mat-checkbox color="primary" [(ngModel)]="item.online_reservation"></mat-checkbox>
        </div>
      </div>
      <div class="d-flex  w-100 justify-content-between align-items-center" *ngIf="isCoefficient === '1'">
        <label for="">{{ 'inventoryOfTwinRoom' |translate }}</label>
        <div class="d-flex align-items-center justify-content-end">
          <mat-checkbox color="primary" [(ngModel)]="item.is_twin_count"></mat-checkbox>
        </div>
      </div>
      <div class="d-flex  w-100 justify-content-between align-items-center" *ngIf="isCoefficient === '1'">
        <label for="">{{ 'closeCell' |translate }}</label>
        <div class="d-flex align-items-center justify-content-end">
          <mat-checkbox color="primary" [(ngModel)]="item.isDisable"></mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-4 gap-15 w-100 mb-2" *ngIf="isLoading">
    <div class="item-shimmer h-500 border-radius-10" *ngFor="let item of [0,1,2,3]"></div>

  </div>
</div>
<div class="p-error">
  <span class="text-danger" *ngFor="let err of errors">{{ err[0] }}</span>
</div>
<button class="btn-base w-25" (click)="edit()">{{ 'save' | translate }}</button>