.text-gray {
    color: var(--gray-color-dark) !important;
  }
  
  .box-top-agency-reserve {
    border: 1px solid #C6C6C6;
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
    height: auto;
  
    .border-dashed-top {
      border-top: 2px dashed var(--light-color-two);
      padding-top: 12px;
    }
  
    .item-title {
      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
      }
  
      span {
        font-size: 14px;
      }
    }
  
    .p-date {
      span {
        font-size: 14px;
      }
    }
  
    .p-items {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 14px;
      place-items: center;
      margin-top: 14px;
  
      .item {
        width: 100%;
        display: flex;
        align-items: center;
  
        span {
          font-size: 14px;
        }
      }
    }
  
    .p-price {
      background: #f2f2f2;
      border-radius: 5px;
      padding: 0 1rem;
      height: 70px;
      width: 50%;
      margin: 1.5rem auto 0.5rem auto;
    }
  }
  
  .box-top-box-reserve {
    border: 1px solid #C6C6C6;
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
  }
  
  .set-request-tour {
    background: var(--white);
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    display: flex;
    margin: 12px 0;
  
    .info-from {
      border-left: 2px dashed #c6c6c6;
      width: 40%;
      padding: 12px;
  
      .city-name {
        font-weight: 800;
        font-size: 14px;
        color: var(--dark);
      }
  
      .item {
        margin-top: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .title {
          color: var(--base-color);
          font-size: 14px;
        }
  
        .text {
          font-size: 14px;
          color: var(--text-color);
        }
      }
    }
  
    .info-time {
      border-left: 2px dashed #c6c6c6;
      width: 20%;
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .title {
        font-weight: 600;
        color: var(--base-color);
      }
  
      .text {
        margin-top: 6px;
        font-weight: 600;
        color: var(--text-color);
      }
    }
  
    .info-to {
      width: 40%;
      padding: 12px;
  
      .city-name {
        font-weight: 800;
        font-size: 14px;
        color: var(--dark);
      }
  
      .item {
        margin-top: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .title {
          color: var(--base-color);
          font-size: 14px;
        }
  
        .text {
          font-size: 14px;
          color: var(--text-color);
        }
      }
    }
  }
  
  .box-rooms {
    border: 1px solid #C6C6C6;
    padding: 1rem;
    width: 100%;
    border-radius: 8px;
    height: auto;
    margin-top: 1rem;
  
    .item-information-room:first-child {
      margin-top: 1.3rem !important;
    }
  
    .item-information-room {
      width: 100%;
      border: 1px dashed #C6C6C6;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 8px;
      border-radius: 4px;
      position: relative;
      margin-top: 2rem;
  
      .label-role {
        background: var(--red-color);
        height: 30px;
        width: auto;
        padding: 0 12px;
        color: var(--white);
        font-size: 12px !important;
        font-weight: 600 !important;
        position: absolute;
        display: grid;
        place-items: center;
        border-radius: 5px;
        top: -23px;
        right: 0;
      }
  
      .item {
        font-size: 13px !important;
        font-weight: 600 !important;
        span {
          color: #84620d!important;
        }
  
        .mr-2 {
          color: var(--base-color-three) !important;
        }
      }
    }
  }
  
  .p-info-trip {
    box-shadow: rgba(100, 100, 111, 0.1) 0 7px 29px 0;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .bg-info-trip {
    border-radius: 8px;
    padding: 12px;
    margin-top: 1rem;
  }
  
  .title-profile {
    margin-top: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center !important;
    justify-content: flex-start;
  
    i {
      font-size: 9px;
      color: #ff4241;
      margin-left: 7px !important;
      position: relative;
      top: -8px;
    }
  }
  
  .tour-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  
    .item {
      margin-top: 12px;
  
      .title {
        font-weight: 500;
        font-size: 14px;
      }
  
      .text {
        font-size: 14px;
        color: #3E3E3E;
        margin-right: 8px;
      }
    }
  }
  
  .staus-button {
    margin-right: 2rem;
  }
  
  .inp-form {
    select {
      border: none !important;
      outline: none;
      background: unset;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .tour-items {
      grid-template-columns: 1fr !important;
    }
    .p-search-agency {
      flex-wrap: wrap;
  
      .inp-form {
        width: 100% !important;
      }
  
      .btn-base {
        width: 100% !important;
        margin: 12px 0 !important;
      }
    }
  }
  
  @media only screen and (min-width: 501px) and (max-width: 868px) {
    .tour-items {
      grid-template-columns: 1fr 1fr !important;
    }
    .p-search-agency {
      flex-wrap: wrap;
  
      .inp-form {
        width: 50% !important;
      }
    }
  }
  