<prs-loading *ngIf="isLoading"></prs-loading>
<div class="p-info-trip">
  <div class="w-100 flex-x-between">
    <div class="d-flex w-100 p-search-agency" *ngIf="(session.getRole() === 'admin' ||
          session.getRole() === 'programmer' || session.getRole() === 'hamnavazAdmin') && statusNM !== 473">
      <div class="inp-form w-25">
        <select [(ngModel)]="statusNM" name="" id="">
          <option *ngFor="let s of statuses" [value]="s.id">{{ s.name }}</option>
        </select>
      </div>
      <button class="btn-base px-4 staus-button" (click)="changeStatus()">اعمال وضعیت</button>
    </div>
    <div class="d-flex w-100 p-search-agency"
         *ngIf="info.information.status.name === 'PendingForAccept' && (session.getRole() === 'agency'|| session.getRole() === 'hamnavazAdmin')">
      <button class="btn-base-green px-4 staus-button" (click)="statusNM =471;changeStatus()">تایید</button>
      <button class="btn-base-red px-4 staus-button" (click)="statusNM =473;changeStatus()">عدم تایید</button>
    </div>
  </div>
  <div class="w-100 bg-info-trip">
    <div class="w-100 flex-x-between">
      <div class="title-profile ">
        <i class="icon-circle"></i>
        <h2 class="dana-bold fs-16 bold-600">اطلاعات رزرو</h2>
      </div>
      <div class="flex-x-center">
        <div class="label-hotel flex-x-center">
          2 شب و 4 روز
        </div>

      </div>
    </div>


    <div class="box-top-agency-reserve mb-3">
      <div class="w-100 grid-2 gap-12 m-bottom-12 grid-1-mobi">
        <div class="d-flex align-items-center item-title justify-content-between w-100">
        <span class="status">
          مرجع:{{ info?.information.partner_name }}
        </span>
        </div>
        <div class="p-date  w-100 d-flex align-items-center justify-content-between">
          <div class="date">
            <span class="text-dark bold-600">تاریخ درخواست :</span>
            <span class="text-gray mr-2">{{
                calendarService.convertDateAndTime(info?.information.created_at, 'fa')
              }}</span>
          </div>
        </div>
        <div class="p-date  w-100 d-flex align-items-center justify-content-between">
          <div class="date">
            <span class="text-dark bold-600">کدرفرنس :</span>
            <span class="text-gray mr-2">{{ info.information.ref_code }}</span>
          </div>
        </div>
        <div class="d-flex align-items-center item-title justify-content-between w-100">
          <h3 class=" bold-600 fs-14"> وضعیت : {{ info?.information.status.label }}</h3>
        </div>
      </div>
      <div class="d-flex align-items-center item-title justify-content-between w-100"
           *ngIf="info.information.status.id !== 472 && info.information.status.id !== 473">
        <div class="flex-x-center">
          <h3 class=" bold-600 m-left-10"> زمان باقیمانده :</h3>
          <prs-reserve-timer [width]="'40px'" [height]="'40px'"
                             [expired_date]="info.information.expired_in_minutes"></prs-reserve-timer>

        </div>
      </div>

      <div class="d-flex align-items-center item-title border-dashed-top justify-content-between w-100">
        <h3 class=" bold-600">اطلاعات رزرو گیرنده </h3>
      </div>

      <div class="p-items">
        <div class="item">
          <span>نام و نام خانوادگی :</span>
          <span class="mr-2 text-gray">{{ info?.information.reserver.full_name }}</span>
        </div>
        <div class="item">
          <span style="color: #ff0000; font-size: 20px;">شماره همراه :</span>
          <span class="mr-2 text-gray">{{ info?.information.reserver.phone }}</span>
        </div>
        <div class="item">
          <span>کد ملی :</span>
          <span class="mr-2 text-gray">{{ info?.information.reserver.id_code }}</span>
        </div>
      </div>

    </div>
    <div class="title-profile w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold fs-16 bold-600">اطلاعات قیمت</h2>
    </div>
    <div class="box-top-agency-reserve my-1">
      <div class="p-items">
        <div class="item">
          <span>مجموع قیمت پروازهای رفت :</span>
          <span class="mr-2 text-gray">{{ info?.prices.departure_total_price | sperator }}</span>
        </div>
        <div class="item">
          <span>مجموع قیمت پرواز های برگشت</span>
          <span class="mr-2 text-gray">{{ info?.prices.return_total_price| sperator }}</span>
        </div>
        <ng-template ngFor let-x [ngForOf]="getPrices(info)" let-index="index">
          <div class="item" *ngIf="index > 2">
            <span>{{ x.name }}:</span>
            <span class="mr-2 text-gray">{{ x.value| sperator }}</span>
          </div>
        </ng-template>
      </div>
      <div class="p-price d-flex align-items-center justify-content-between">
        <div class="item d-flex align-items-center justify-content-between w-100 px-2">
          <span style="font-weight: 600 !important;" class="title">مبلغ کل:</span>
          <div class="d-flex">
            <span class="text mr-2 font-size-20 bold-600">{{ info?.prices.total_price | sperator }}</span>
            <span class="mr-1 m-right-8">تومان</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 1rem !important;" class="title-profile  w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold fs-16 bold-600">اطلاعات هتل</h2>
    </div>
    <div class="box-top-box-reserve">
      <div class="d-flex align-items-center title-top justify-content-between">
        <h2 class="title-tour fs-16 bold-600">{{ info?.hotel?.titleEn }}</h2>
        <h2 class="title-tour fs-16 bold-600">هتل انتخابی : {{ info?.hotel?.title }}</h2>
      </div>

      <div class="list-hotel">
        <div class="item">
          <span class="title">ستاره :</span>
          <span class="text" style="direction: ltr!important">3</span>
        </div>
        <div class="item flex-x-end">
          <span class="title">موقعیت :</span>
          <span class="text" style="direction: ltr!important">-----</span>
        </div>
        <div class="item">
          <span class="title">تاریخ ورود به هتل :</span>
          <span class="text" style="direction: ltr!important">{{
              info?.hotel?.checkin |
                convertDate
            }}</span>
        </div>
        <div class="item flex-x-end">
          <span class="title">تاریخ خروج از هتل :</span>
          <span class="text" style="direction: ltr!important">{{
              info.hotel.checkout |
                convertDate
            }}</span>
        </div>
      </div>
      <div style="margin-top: 2rem" class="w-100 gap-6 flex-x-center">
        <span class="fs-13 bold-600">تامیین کننده :</span>
        <span class="fs-13 bold-600">----</span>
      </div>
    </div>
    <div style="margin-top: 1rem !important;" class="title-profile  w-100">
      <i class="icon-circle"></i>
      <h2 class="dana-bold fs-16 bold-600">اطلاعات پرواز</h2>
    </div>
    <div class="box-top-box-reserve">
      <div class="set-request-tour p-information">
        <div *ngIf="false" class="false">
          <div class="info-from">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <span>پرواز رفت:</span>
                <span style="margin-right: 4px" class="city-name">{{ info?.flights.departure.origin_name }}
                  به {{ info?.flights?.departure.destination_name }}</span>
              </div>
              <span>{{ info.flights.departure.airline_name }}</span>
              <img width="25" height="25" [src]="info.flights.departure.airline_logo.url" alt="">
            </div>
            <div class="item">
              <span class="title">تاریخ و ساعت پرواز رفت :</span>
              <span class="text" style="direction: ltr!important">{{
                  info.flights.departure.date |
                    convertDate
                }} {{ info.flights.departure.time | timeFixer }}</span>
            </div>
            <div class="item">
              <span class="title">تاریخ ورود به هتل :</span>
              <span class="text" style="direction: ltr!important">{{
                  info?.hotel?.checkin |
                    convertDate
                }}</span>
            </div>
            <div class="item">
              <span class="title">ش.پ رفت :</span>
              <span class="text" style="direction: ltr!important">{{ info.flights.departure.flight_number }}</span>
            </div>
          </div>
          <div class="info-to">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <span>پرواز برگشت:</span>
                <span style="margin-right: 4px" class="city-name">{{
                    info.flights.return.origin_name
                  }} به {{
                    info.flights.return.destination_name
                  }}</span>
              </div>
              <span>{{ info.flights.return.airline_name }}</span>
              <img width="25" height="25" [src]="info.flights.return.airline_logo.url" alt="">
            </div>
            <div class="item">
              <span class="title">تاریخ و ساعت پرواز برگشت :</span>
              <span class="text" style="direction: ltr!important">{{
                  info.flights.return.date |
                    convertDate
                }} {{ info.flights.return.time| timeFixer }}</span>
            </div>
            <div class="item">
              <span class="title">تاریخ خروج از هتل :</span>
              <span class="text" style="direction: ltr!important">{{
                  info.hotel.checkout |
                    convertDate
                }}</span>
            </div>
            <div class="item">
              <span class="title">ش.پ برگشت :</span>
              <span class="text" style="direction: ltr!important">{{ info.flights.return.flight_number }}</span>
            </div>
          </div>
        </div>
        <div class="w-100 flex-x-between">
          <div class="from flex-y-start">
            <h3 class="fs-14 bold-600 text-dark">اهران به استانبول</h3>
            <div class="flex-x-start m-top-12 gap-5">
              <span class="fs-13">ایرلاین:</span>
              <span class="fs-13">تالان</span>
              <img width="25" height="25" [src]="info.flights.departure.airline_logo.url" alt="">
            </div>
            <span class="fs-14 m-top-12">شماره پرواز:2222</span>
            <span class="fs-14 m-top-12">تاریخ و ساعت : ------</span>
          </div>
          <div class="to flex-y-start">
            <h3 class="fs-14 bold-600 text-dark">اهران به استانبول</h3>
            <div class="flex-x-start m-top-12 gap-5">
              <span class="fs-13">ایرلاین:</span>
              <span class="fs-13">تالان</span>
              <img width="25" height="25" [src]="info.flights.departure.airline_logo.url" alt="">
            </div>
            <span class="fs-14 m-top-12">شماره پرواز:2222</span>
            <span class="fs-14 m-top-12">تاریخ و ساعت : ------</span>

          </div>

        </div>

      </div>
      <div style="margin-top: 2rem" class="w-100 gap-6 flex-x-center">
        <span class="fs-13 bold-600">تامیین کننده :</span>
        <span class="fs-13 bold-600">----</span>
      </div>
    </div>

    <ng-template ngFor let-item [ngForOf]="info.selected_rooms" let-index="index">
      <div class="box-rooms">
        <div class="d-flex align-items-center item-title  justify-content-between w-100">
          <h3 class=" bold-600">اتاق {{ item.info_room?.room_type }} </h3>
        </div>
        <div class="empty-box" *ngIf="item.passengers.length == 0">مسافری ثبت نشده است</div>
        <div class="d-flex flex-column mt-4" *ngFor="let p of item.passengers">
          <div class="item-information-room">
            <label for="" class="label-role">{{ p.type }}</label>
            <div class="item">
              <span class="text-gray">نام :</span>
              <span class="mr-2">{{ p.name }}</span>
            </div>
            <div class="item">
              <span class="text-gray">خانوادگی :</span>
              <span class="mr-2">{{ p.family }}</span>
            </div>
            <div class="item" *ngIf="p.id_code">
              <span class="text-gray">کد ملی :</span>
              <span class="mr-2">{{ p.id_code ?? '---' }}</span>
            </div>
            <div class="item">
              <span class="text-gray">ملیت :</span>
              <span class="mr-2">{{ p.nationality == 0 ? 'ایرانی' : 'غیرایرانی' }}</span>
            </div>
            <div class="item" *ngIf="p.passport">
              <span class="text-gray">پاسپورت :</span>
              <span class="mr-2">{{ p.passport }}</span>
            </div>
            <div class="item" *ngIf="p.expired_passport">
              <span class="text-gray">انقضا پاسپورت :</span>
              <span class="mr-2">{{ p.expired_passport }}</span>
            </div>
            <div class="item">
              <span class="text-gray"> تولد :</span>
              <span class="mr-2">{{ p.birth_day }}</span>
            </div>
            <div class="item">
              <span class="text-gray"> جنسیت :</span>
              <span class="mr-2">{{ p.gender == 0 ? 'خانم' : 'آقا' }}</span>
            </div>


          </div>
          <div class="item-information-room">
            <div class="item">
              <span class="text-gray">قیمت پرواز رفت :</span>
              <span class="mr-2">{{ p.departure_flight_rate | sperator }}</span>
            </div>
            <div class="item">
              <span class="text-gray">قیمت پرواز برگشت :</span>
              <span class="mr-2">{{ p.return_flight_rate | sperator }}</span>
            </div>
            <div class="item">
              <span class="text-gray">قیمت اتاق :</span>
              <span class="mr-2">{{ p.room_price |sperator }}</span>
            </div>
            <div class="item">
              <span class="text-gray">قیمت سرویس :</span>
              <span class="mr-2">{{ p.service_price | sperator }}</span>
            </div>
            <div class="item">
              <span class="text-gray">مجموع قیمت :</span>
              <span class="mr-2">{{ p.total_room_price | sperator }}</span>
            </div>

          </div>
        </div>
        <div class="  w-100 grid-10">
          <div class="d-flex item-bimeh" *ngFor="let s of item.info_room?.services">
            <span>{{ s.category + ' : ' }}</span>
            <span>{{ s.rate | sperator }}</span>
          </div>
        </div>
      </div>

    </ng-template>
  </div>

</div>
