<div class="end wm-100 flex-y-center">
    <div class="row-time m-top-12 flex-x-center gap-8">
        <div class="time flex-y-center">
            <div class="number-time" [style]="'width:' + width+';' + 'height:' + height+';'">{{ formatter(seconds) }}
            </div>
        </div>
        :
        <div class="time flex-y-center">
            <div class="number-time" [style]="'width:' + width+';' + 'height:' + height+';'">{{ formatter(minutes) }}
            </div>
        </div>

    </div>
</div>