<div class="end wm-100 flex-y-center">
    <div class="row-time m-top-12 flex-x-center gap-4"
        *ngIf="formatter(seconds) !== '00' && formatter(minutes) !== '00'">
        <div class="time flex-y-center">
            <div class="number-time p-x-4 fs-12 bold-600" [style]="'width:' + width+';' + 'height:' + height+';'">{{ formatter(seconds) }}
            </div>
        </div>
        <strong class="p-relative bottom-6 fs-17">:</strong>
        <div class="time flex-y-center">
            <div class="number-time p-x-4 fs-12 bold-600" [style]="'width:' + width+';' + 'height:' + height+';'">{{ formatter(minutes) }}
            </div>
        </div>

    </div>
    <div class="row-time m-top-12 flex-x-center gap-8"
        *ngIf="formatter(seconds) === '00' && formatter(minutes) === '00'">
        <div class="time flex-y-center">
            <div class="number-time" [style]="'width:' + '70px'+';' + 'height:' + '30px'+';'">اتمام زمان
            </div>
        </div>


    </div>
</div>
