@import "src/assets/css/fontiran.css";
@import "src/assets/css/varible";


body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: 'IRANSans' !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IRANSans' !important;
}
.prs-responsive{
  max-width: 1400px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  float: right;
  border-radius: 20px;
  padding: 1px;
  height: 20vh !important;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  width: 3px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #707070;
}
.btn-base{
  background: $base-color-three !important;
  color: #fff !important;
  border-radius: 4px !important;
}
