@import "src/assets/css/fontiran.css";
@import "src/assets/css/varible";
@import 'node_modules/ngx-bar-rating/themes/br-default-theme';

:root {
  --base-color: #ff4241;
  --base-color-second: #ff4241;
  --base-color-three: #053742;
  --light-color-one: #C6ECFF;
  --light-color-two: #E0E0E0;
  --gray-color-light: #646564;
  --gray-color-dark: #3E3E3E;
  --box-shadow: 1px 1px 6px #eee;;
  --btn-animtion: 0.3s all;
  --text-color: #404040;
  --white: #fff;
  --dark: #000;
  --radius-btn: 15px 15px 1px 15px;
  --opacity-color: #3e3e3e78;
  --red-color: #CB1639;
  --green-color: #0D7B0D;
  --title-header: #d5d5d5bd;
}

//--------------------width
$widthSize: 100;
@mixin width {
  @for $i from 0 to $widthSize {
    $width: $i * 1%;
    .w-#{$i} {
      width: $width !important;
    }
  }
}

@include width;
//---------------------end-width

//----------------height
$heightSize: 700;
@mixin height {
  @for $i from 0 to $heightSize {
    $height: $i * 1px;
    .h-#{$i} {
      height: $height !important;
    }
  }
}

@include height;
//--------------end-height

//-----------------fontSize
$fontSizes: 40;
@mixin fontSize {
  @for $i from 0 to $fontSizes {
    $font-size: $i * 1px;
    .font-size-#{$i} {
      font-size: $font-size !important;
    }
  }
}

@include fontSize;
//-----------------end-font-size

//----------------border-radius
$sizeRadius: 512;
@mixin radius {
  @for $i from 0 to $sizeRadius {
    $border-radius: $i * 1px;
    .border-radius-#{$i} {
      border-radius: $border-radius !important;
    }
  }
}

@include radius;
//--------------end-border-radius


//----------------margin-top
$mt: 200;
@mixin marginTop {
  @for $i from 0 to $mt {
    $margin-top: $i * 1px;
    .m-top-#{$i} {
      margin-top: $margin-top !important;
    }
  }
}

@include marginTop;
//--------------end-margin-top


//----------------margin-bottom
$mb: 200;
@mixin marginBottom {
  @for $i from 0 to $mb {
    $margin-bottom: $i * 1px;
    .m-bottom-#{$i} {
      margin-bottom: $margin-bottom !important;
    }
  }
}

@include marginBottom;
//--------------end-margin-bottom


//----------------margin-right
$mr: 200;
@mixin marginRight {
  @for $i from 0 to $mr {
    $margin-right: $i * 1px;
    .m-right-#{$i} {
      margin-right: $margin-right !important;
    }
  }
}

@include marginRight;
//--------------end-margin-right


//----------------margin-left
$ml: 200;
@mixin marginLeft {
  @for $i from 0 to $ml {
    $margin-left: $i * 1px;
    .m-left-#{$i} {
      margin-left: $margin-left !important;
    }
  }
}

@include marginLeft;
//--------------end-margin-left
//----------------grid-template-columns
$max: 15;

@mixin gridTemplateColumns {
  @for $i from 1 to $max {

    .grid-#{$i} {
      grid-template-columns: repeat($i, 1fr) !important;
      display: grid;
      place-items: center;
    }
  }
}

@include gridTemplateColumns;
//-----------------end-gridTemplateColumns

$cols: var(--col);

.grid-dynamic {
  grid-template-columns: $cols !important;
  display: grid;
  place-items: center;
}

body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: 'IRANSans' !important;
  background: #f8f8f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IRANSans' !important;
}

.prs-responsive {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  float: right;
  border-radius: 20px;
  padding: 1px;
  height: 20vh !important;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  width: 3px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #707070;
}

.btn-base {
  background: $base-color-three !important;
  border: 2px solid $base-color-three !important;
  color: #fff !important;
  border-radius: 4px !important;
  height: 50px;
  display: grid;
  place-items: center;
  font-weight: 600;
}
.btn-base-red {
  background: rgb(158, 17, 17)!important;
  border: 2px solid rgb(158, 17, 17) !important;
  color: #fff !important;
  border-radius: 4px !important;
  height: 50px;
  display: grid;
  place-items: center;
  font-weight: 600;
}
.btn-base-purple {
  background: #742882!important;
  border: 2px solid #742882 !important;
  color: #fff !important;
  border-radius: 4px !important;
  height: 50px;
  display: grid;
  place-items: center;
  font-weight: 600;
}
.w-48 {
  width: 48% !important;
}
.bold-600{
  font-weight: 600 !important;
}
/*input*/
.inp-form {
  width: 100%;
  background-color: var(--white);
  border-radius: 7px;
  border: 1px solid #e2e8f0;
  height: 58px;
  padding: 0 8px;
  position: relative;
  display: flex;
  align-items: center;

  svg {
    position: absolute;
    left: 10px;
  }

  img {
    top: 30px !important;
  }

  //&:after {
  //  content: '';
  //  position: absolute;
  //  width: 99%;
  //  bottom: 0.5px;
  //  border-radius: 20px;
  //  right: 0;
  //  border-top: 2px dashed #081d3c;
  //}


  select {
    font-weight: 600;
    font-size: 13px;
    color: #676767;
    border: none;
    outline: none;
    width: 100%;
    background: $white-color;
  }

  input {
    font-weight: 600;
    font-size: 13px !important;
    color: #4d4b4b;
    border: none;
    outline: none;
    width: 100%;

    &::placeholder {
      font-weight: 600;
    }
  }
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: unset !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  display: none !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: unset !important;
}

.p-error {
  display: flex !important;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 70px;
  margin-top: 15px;
  place-items: center;

  span {
    font-size: 13px;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
  }
}

.item-info {
  input[type='text'] {
    cursor: text !important;
  }

  select {
    border: 1px solid var(--light-color-two);
    height: 50px;
    border-radius: 4px;
    margin-top: 8px;
    background-color: var(--white);
    width: 100%;
    font-size: 13px !important;
    font-weight: 500;
    padding: 0 8px;
    outline: none;
  }
}

.text-gray {
  color: $gray-color;
}

pagination-template {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  li {
    font-weight: 600;
    color: $gray-color;
  }

  .ngx-pagination {
    width: 100% !important;
    display: flex;
    align-items: center;
  }

  .current {
    background: $base-color !important;
    border-radius: 10px !important;
    width: 35px !important;
    height: 35px !important;
    display: grid !important;
    place-items: center;
  }
}

.bold-600 {
  font-weight: 600;
}

.shimmer-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  width: 100%;

  padding: 4px 8px;
}

.shimmer-2 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 4px 8px;
}

.shimmer-4 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 4px 8px;
}

.shimmer-5 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 4px 8px;
}

.shimmer-6 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 4px 8px;
}

.item-shimmer {
  width: 100%;
  height: 50px;
  background: #c6c6c629;
  animation: shimmers 4s forwards infinite;
  border-radius: 2px;
}

@keyframes shimmers {
  0% {
    background: #c6c6c629;
  }
  25% {
    background: #c6c6c6;
  }
  50% {
    background: #c6c6c629;
  }
  100% {
    background: #c6c6c6;
  }
}


@media only screen and (max-width: 500px) {
  .inp-form {
    &:after {
      border-top: 1px solid $base-color !important;
    }
  }
  .cdk-overlay-pane {
    width: 95% !important;
    max-width: 95vw !important;
  }
}
.h-100{
  height: 100% !important;
}
.empty-box{
  width: 100%;
  height: auto;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid $border-color;
  span{
    font-weight: 600;
    color: $dark-color;

  }
}
.text-base{
  color: $base-color !important;
}



/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}


mat-calendar{
  direction: rtl !important;
}
.mat-calendar-previous-button::after {
  transform: translateX(2px) rotate(130deg) !important;
}
.mat-calendar-previous-button::after {
  transform: translateX(2px) rotate(134deg) !important;
}
.mat-calendar-next-button::after {
  transform: translateX(2px) rotate(-137deg) !important;
}
// milad library

.grid-1 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-6 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-7 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-8 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-9 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-10 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
//----------------gap
$gap: 50;
@mixin gap {
  @for $i from 0 to $gap {
    $gapGrid: $i * 1px;
    .gap-#{$i} {
      gap: $gapGrid !important;
    }
  }
}

@include gap;
//--------------gap-end

// milad library

.border-box {
  border: 2px solid $border-color;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.button-setting .edit-btn {
  width: auto;
  background-color: var(--base-color-three);
  color: var(--white);
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-setting .view-btn {
  width: auto;
  background-color: $base-color;
  color: var(--white);
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
}

.button-setting .delete-btn {
  width: auto;
  background-color: var(--red-color);
  color: var(--white);
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
}

.button-setting .copy-btn {
  width: auto;
  background-color: var(--green-color);
  color: var(--white);
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}
.direction-rtl {
  direction: rtl;
}