@import "src/assets/css/fontiran.css";
@import "src/assets/css/varible";
@import 'node_modules/ngx-bar-rating/themes/br-default-theme';

:root {
  --base-color: #ff4241;
  --base-color-second: #ff4241;
  --base-color-three: #053742;
  --light-color-one: #C6ECFF;
  --light-color-two: #E0E0E0;
  --gray-color-light: #646564;
  --gray-color-dark: #3E3E3E;
  --box-shadow: 1px 1px 6px #eee;;
  --btn-animtion: 0.3s all;
  --text-color: #404040;
  --white: #fff;
  --dark: #000;
  --radius-btn: 15px 15px 1px 15px;
  --opacity-color: #3e3e3e78;
  --red-color: #CB1639;
  --green-color: #0D7B0D;
  --title-header: #d5d5d5bd;
}

//--------------------width
$widthSize: 100;
@mixin width {
  @for $i from 0 to $widthSize {
    $width: $i * 1%;
    .w-#{$i} {
      width: $width !important;
    }
  }
}

@include width;
//---------------------end-width

//----------------height
$heightSize: 700;
@mixin height {
  @for $i from 0 to $heightSize {
    $height: $i * 1px;
    .h-#{$i} {
      height: $height !important;
    }
  }
}

@include height;
//--------------end-height

//-----------------fontSize
$fontSizes: 40;
@mixin fontSize {
  @for $i from 0 to $fontSizes {
    $font-size: $i * 1px;
    .font-size-#{$i} {
      font-size: $font-size !important;
    }
  }
}

@include fontSize;
//-----------------end-font-size

//----------------border-radius
$sizeRadius: 512;
@mixin radius {
  @for $i from 0 to $sizeRadius {
    $border-radius: $i * 1px;
    .border-radius-#{$i} {
      border-radius: $border-radius !important;
    }
  }
}

@include radius;
//--------------end-border-radius


//----------------margin-top
$mt: 200;
@mixin marginTop {
  @for $i from 0 to $mt {
    $margin-top: $i * 1px;
    .m-top-#{$i} {
      margin-top: $margin-top !important;
    }
  }
}

@include marginTop;
//--------------end-margin-top


//----------------margin-bottom
$mb: 200;
@mixin marginBottom {
  @for $i from 0 to $mb {
    $margin-bottom: $i * 1px;
    .m-bottom-#{$i} {
      margin-bottom: $margin-bottom !important;
    }
  }
}

@include marginBottom;
//--------------end-margin-bottom


//----------------margin-right
$mr: 200;
@mixin marginRight {
  @for $i from 0 to $mr {
    $margin-right: $i * 1px;
    .m-right-#{$i} {
      margin-right: $margin-right !important;
    }
  }
}

@include marginRight;
//--------------end-margin-right


//----------------margin-left
$ml: 200;
@mixin marginLeft {
  @for $i from 0 to $ml {
    $margin-left: $i * 1px;
    .m-left-#{$i} {
      margin-left: $margin-left !important;
    }
  }
}

@include marginLeft;
//--------------end-margin-left


body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: 'IRANSans' !important;
  background: #f8f8f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IRANSans' !important;
}

.prs-responsive {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  float: right;
  border-radius: 20px;
  padding: 1px;
  height: 20vh !important;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  width: 3px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #707070;
}

.btn-base {
  background: $base-color-three !important;
  border: 2px solid $base-color-three !important;
  color: #fff !important;
  border-radius: 4px !important;
  height: 50px;
  display: grid;
  place-items: center;
  font-weight: 600;

}

.w-48 {
  width: 48% !important;
}

/*input*/
.inp-form {
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  height: 58px;
  padding: 0 8px;
  position: relative;
  display: flex;
  align-items: center;

  svg {
    position: absolute;
    left: 10px;
  }

  img {
    top: 30px !important;
  }

  &:after {
    content: '';
    position: absolute;
    width: 99%;
    bottom: 0.5px;
    border-radius: 20px;
    right: 0;
    border-top: 2px dashed $base-color;
  }


  select {
    font-weight: 600;
    font-size: 15px;
    color: #676767;
    border: none;
    outline: none;
    width: 100%;
  }

  input {
    font-weight: 600;
    font-size: 14px !important;
    color: #4d4b4b;
    border: none;
    outline: none;

    &::placeholder {
      font-weight: 600;
    }
  }
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: unset !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  display: none !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: unset !important;
}

.p-error {
  display: flex !important;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 70px;
  margin-top: 15px;
  place-items: center;

  span {
    font-size: 13px;
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
  }
}

.item-info {
  input[type='text'] {
    cursor: text !important;
  }

  select {
    border: 1px solid var(--light-color-two);
    height: 30px;
    border-radius: 4px;
    margin-top: 8px;
    background-color: var(--white);
    width: 100%;
    font-size: 13px !important;
    font-weight: 500;
    padding: 0 8px;
    outline: none;
  }
}

.text-gray {
  color: $gray-color;
}

pagination-template {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  li {
    font-weight: 600;
    color: $gray-color;
  }

  .ngx-pagination {
    width: 100% !important;
    display: flex;
    align-items: center;
  }

  .current {
    background: $base-color !important;
    border-radius: 10px !important;
    width: 35px !important;
    height: 35px !important;
    display: grid !important;
    place-items: center;
  }
}

.bold-600 {
  font-weight: 600;
}

.shimmer-3 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4px 8px;
}

.shimmer-2 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 4px 8px;
}

.shimmer-4 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 4px 8px;
}

.shimmer-5 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 4px 8px;
}

.shimmer-6 {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 4px 8px;
}

.item-shimmer {
  width: 100%;
  height: 50px;
  background: #c6c6c629;
  animation: shimmers 4s forwards infinite;
  border-radius: 2px;
}

@keyframes shimmers {
  0% {
    background: #c6c6c629;
  }
  25% {
    background: #c6c6c6;
  }
  50% {
    background: #c6c6c629;
  }
  100% {
    background: #c6c6c6;
  }
}


@media only screen and (max-width: 500px) {
  .inp-form {
    &:after {
      border-top: 1px solid $base-color !important;
    }
  }
  .cdk-overlay-pane {
    width: 95% !important;
    max-width: 95vw !important;
  }
}
