<div class="box-info-fly">
    <div class="info-tour-header">
      <div class="right">
        <h2 class="text-dark">نرخ خدمات</h2>
      </div>
    </div>
    <div class="info-tour-body">
      <div class="top">
        <div class="item-info-services">
          <div class="box-services">
            <label for="">نرخ بیمه(تومان/ارزی)</label>
            <input [formControl]="insuranceRate" type="text" mask="separator" thousandSeparator=",">
          </div>
        </div>
        <div class="item-info-services">
          <div class="box-services">
            <label for="">نرخ ترانسفر(تومان/ارزی)</label>
            <input [formControl]="transferRateFC" type="text" mask="separator" thousandSeparator=",">
          </div>
        </div>
        <div class="item-info-services">
          <div class="box-services">
            <label for="">نرخ ویزا(تومان/ارزی)</label>
            <input [formControl]="visaRateFC" type="text" mask="separator" thousandSeparator=",">
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center w-100">
          <button style="font-size: 12px;width: 100%;height: 35px;margin-top: 13px" class="btn-base" (click)="updateSetting()">ثبت نرخ خدمات</button>
        </div>
      </div>
    </div>
</div>
