<div class="list-tour">
    <div class="title">
      <h2>لیست اتاق ها</h2>
      <a class="btn-add-tour" *ngIf="permition.check('rooms.read')" routerLink="/panel/rooms/add">اضافه</a>
    </div>
    <div class="table-list-tour">
      <div class="header-list-tour">
        <span class="id">#</span>
        <span class="title-tour">عنوان اتاق</span>
        <span class="title-tour">عنوان انگلیسی</span>

        <span class="from-to">ظرفیت</span>
        <span class="setting">تنظیمات</span>
      </div>
      <div class="body-list-tour" *ngIf="rooms.length > 0">
        <div class="item" *ngFor="let room of rooms | paginate: paginateConfig;let i = index">
          <span class="id">{{ i + 1 }}</span>
          <span class="title-tour bold-600">{{ room.name }}</span>
          <span class="title-tour bold-600">{{ room.nameEn }}</span>

          <span class="title-tour">{{ room.Adl_capacity }}</span>
          <div class="button-setting">
            <a routerLink="/panel/rooms/edit/{{ room.id }}" *ngIf="permition.check('rooms.edit')" class="edit-btn">ویرایش</a>
            <button *ngIf="permition.check('rooms.delete')" (click)="deleteRoom(room.id)" class="delete-btn">حذف</button>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls *ngIf="paginate && paginate.last_page > 1" class="pagination-control"
      (pageChange)="onPageChanged($event)" previousLabel="قبلی" nextLabel="بعدی"
      screenReaderPaginationLabel="صفحه بندی" screenReaderPageLabel="صفحه" screenReaderCurrentLabel="شما در صفحه ی">
    </pagination-controls>
  </div>
  