<div class="add-tour">

  <form class="w-100" [formGroup]="hotelForm">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">اضافه کردن هتل</label>
          <h2 class="text-dark">اطلاعات هتل</h2>
        </div>
 
        <div class="left">
          <div class="selectdiv">
            <label>
              <select formControlName="status_id">
                <option *ngFor="let item of hotelInfo.statuses" value="item.id">{{ item.name }}</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="info-tour-body">
        <div class="top">
          <div class="item-info">
            <label for="">عنوان هتل</label>
            <input formControlName="title" (change)="generateSlug()" type="text">
            <div *ngIf="errorService.hasError('title')">
              <span class="text-danger">{{errorService.getError('title')}}</span>
            </div>
          </div>
          <div class="item-info">
            <label for="">عنوان انگلیسی هتل</label>
            <input formControlName="titleEn" type="text">
            <div *ngIf="errorService.hasError('titleEn')">
              <span class="text-danger">{{errorService.getError('titleEn')}}</span>
            </div>
          </div>
          <div class="item-info">
            <label for="">نامک هتل</label>
            <input formControlName="slug" type="text">
            <div *ngIf="errorService.hasError('slug')">
              <span class="text-danger">{{errorService.getError('slug')}}</span>
            </div>
          </div>
          <div class="item-info">
            <label for="">ستاره</label>
            <bar-rating [(rate)]="currentStar" [theme]="'default'" [max]="5"></bar-rating>
          </div>
        </div>
        <div class="bottom">
          <!-- <div class="item-info">
            <label for="">موقعیت هتل</label>
            <input type="text" formControlName="location">
          </div> -->
          <div class="item-info" *ngIf="hotelInfo.cities.length>0">
            <div class="selectdiv">
              <select formControlName="city_id" name="" id="">
                <option disable [value]="null">شهر مورد نظر را انتخاب کنید</option>
                <option *ngFor="let city of hotelInfo.cities[0].categories" [value]="city.id">{{city.name}}</option>
              </select>
            </div>
          </div>
          <div class="info-tour-body">
            <div class="top">
              <div class="item-info-second w-100">
                <label class="mb-2" for="">توضیحات</label>
                <textarea style="margin: 0 auto;width: 100%" formControlName="description"></textarea>
                <!-- <prs-editor style="margin: 0 auto;width: 100%" (body)="getDescriptionFromEditor($event)"></prs-editor> -->
              </div>
            </div>
          </div>

          <div class="info-tour-body">
            <div class="top">
              <div class="item-info-second w-100">
                <label class="mb-2" for="">آدرس</label>
                <textarea style="margin: 0 auto;width: 100%" formControlName="address"
                  placeholder="آدرس را وارد کنید"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="box-info-fly">
      <div class="info-tour-header">
        <div class="right">
          <h2 class="text-dark">آپلود تصاویر</h2>
        </div>
      </div>
      <div class="info-tour-body-upload">
        <!-- <div class="top-one">
          <prs-upload-single *ngIf="showData" (result)="getThumbnail($event)"[incommingFile]="getThumbnailFromData()"></prs-upload-single>
        </div> -->
        <div class="bottom-one">
          <prs-multiple-upload *ngIf="showData" (result)="getEditImages($event)" (deletedImages)="getRemovedImages($event)" [incommingFiles]="hotelImages"></prs-multiple-upload>
        </div>
      </div>
    </div>

    <!-- <div class="box-info-fly">
      <prs-services [services]="services" (result)="getServicesResult($event)"></prs-services>
    </div> -->


  
  </form>
  <div class="box-info-fly">
    <div class="info-tour-header">
      <div class="right">
        <h2>انتخاب اتاق ها</h2>
      </div>
    </div>
    <div class="info-tour-body">
      <div class="address-parent">

        <div class="address-hotel">
          <label for="address">اتاق های این هتل را انتخاب کنید </label>
          <mat-form-field appearance="fill">
            <mat-label>اتاق ها</mat-label>
            <mat-select [formControl]="selectedRoomsFC" (selectionChange)="roomsUpdated()" multiple>
              <mat-select-trigger>
                <span>اتاق های انتخاب شده</span>
              </mat-select-trigger>
              <mat-option *ngFor="let room of hotelInfo.roomTypes" [value]="room.name">{{room.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div>ضریب اتاق ها</div>
      <div class="item-info" *ngFor="let item of selectedRooms">
        <label for="">{{ item.name }}</label>
        <input type="number" [(ngModel)]="item.coefficient">
      </div>

    </div>
  </div>
  <div class="p-error">
    <span class="text-danger" *ngFor="let err of errors">{{ err[0] }}</span>
  </div>
  <div class="btn-parent-submit">
    <button class="submit-tour" (click)="edit()">ثبت هتل</button>
  </div>
</div>