

<div class="add-tour" *ngIf="show">
  <form class="w-100">
    <div class="box-info-tour">
      <div class="info-tour-header">
        <div class="right">
          <label for="">ویرایش {{ type === 'country' ? 'کشور' : 'شهر' }}</label>
          <h2>اطلاعات {{ type === 'country' ? 'کشور' : 'شهر' }}</h2>
        </div>
        <!-- <div class="left">
          <div class="selectdiv">
            <label>
              <select [formControl]="statusFC">
                <option value="hide" selected> منتشر نشود</option>
                <option value="show">انتشار</option>
              </select>
            </label>
          </div>
        </div> -->
      </div>
      <div class="info-tour-body">
        <div class="top">

          <div style="padding-right: 2rem" class="item-info w-48"  *ngIf="type === 'city'">
            <div class="select-info">
              <label for="">کشور </label>
              <prs-select-city [hasHotel]="true" [cities]="info.countries" [inCommingCity]="info.city.parent_id"
                               (citySelected)="getEndCity($event)"></prs-select-city>
              <div *ngIf="errorService.hasError('destination_id')">
                <span class="text-danger">{{errorService.getError('destination_id')}}</span>
              </div>
            </div>
          </div>

          <div class="item-info">
            <label for="">عنوان {{ type === 'country' ? 'کشور' : 'شهر' }}</label>
            <input [formControl]="nameFC" type="text">
          </div>

          <div class="item-info">
            <label for="">کد {{ type === 'country' ? 'کشور' : 'شهر' }}</label>
            <input [formControl]="codeFC" type="text">
          </div>
        </div>
      </div>
    </div>

    <div class="btn-parent-submit">

      <button class="submit-tour" (click)="submit()">ویرایش {{ type === 'country' ? 'کشور' : 'شهر' }}</button>
    </div>
  </form>

</div>

