<div class="box-info-fly">


    <div class="box-info-package">
      <div class="info-tour-header">
        <div class="right">
          <h2>افزودن خدمات به مسیر پروازی</h2>
        </div>
        <!-- <div class="package-item">
          <a (click)="addDateRow()" class="btn-add-tour-fix">
            <i class="icon-plus-squared-alt"></i>
            <span>اضافه</span>
          </a>
        </div> -->
      </div>
      <div class="info-tour-body p-0">
        <prs-transfer-service [flightId]="+flight_id" [catType]="'flight'"></prs-transfer-service>
      </div>
    </div>
  </div>